<% layout('../../../layouts/client/app') %>

<% block('metaTags', `
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="${originalUrl}" id="fbUrl" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="${titleRedis(info)} | Tài khoản" />
    <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta property="og:image" content="https://mayhienhome.com/public/client/images/logo/fullLogo.png" />
`) %>

<% block('beforeCommon', `<link rel="stylesheet" type="text/css" href="/public/client/css/styleUser.css"/>`) %>

<% block('title', 'Tài khoản') %>

<div id="contents">

    <div class="titleArea">
        <h2>Nơi mua sắm của tôi</h2>
    </div>

    <div class="xans-element- xans-layout xans-layout-logincheck "></div>

    <div class="xans-element- xans-myshop xans-myshop-asyncbenefit">
        <div class="ec-base-box typeMember gMessage ">
            <div class="information">
                <p class="thumbnail"><img src="" alt=""
                                          onerror="this.src='/public/client/images/img_member_default.gif';"
                                          class="myshop_benefit_group_image_tag"/></p>
                <div class="description">
                    <span>Cảm ơn bạn đã sử dụng trung tâm mua sắm của chúng tôi
                        <strong class="txtEm">
                            <span class="authssl_member_name"><%= cUser.name %></span>
                        </strong> là thành viên
                        <strong>
                            <span class="displaynone">
                                <img src="" alt="" class="myshop_benefit_group_icon_tag"/>
                            </span>
                            <span class="xans-member-var-group_name"></span>
                            <span class="myshop_benefit_ship_free_message"></span>
                        </strong> của chúng tôi
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="xans-element- xans-myshop xans-myshop-asyncbankbook ec-base-box gHalf">-->
        <!--<ul>-->
            <!--<li class=" ">-->
                <!--<strong class="title">Sản phẩm có sẵn</strong>-->
                <!--<strong class="data use"> <span id="xans_myshop_bankbook_avail_mileage"></span></strong>-->
                <!--<a href="/myshop/mileage/historyList.html" class="button"><img-->
                        <!--src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_result.gif"-->
                        <!--alt="조회"/></a>-->
            <!--</li>-->
            <!--<li class="">-->
                <!--<strong class="title">Sử dụng sản phẩm</strong>-->
                <!--<strong class="data"><span id="xans_myshop_bankbook_total_mileage"></span></strong>-->
            <!--</li>-->
            <!---->
            <!--<li>-->
                <!--<strong class="title">Tổng số đơn đặt hàng</strong>-->
                <!--<strong class="data"><span id="xans_myshop_bankbook_order_price"></span>(<span-->
                        <!--id="xans_myshop_bankbook_order_count"></span>lần</strong>-->
            <!--</li>-->
            <!--<li class="">-->
                <!--<strong class="title">Phiếu giảm giá</strong>-->
                <!--<strong class="data"><span-->
                        <!--id="xans_myshop_bankbook_coupon_cnt"></span><span>Phiếu</span></strong>-->
                <!--<a href="/myshop/coupon/coupon.html" class="button"><img-->
                        <!--src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_result.gif"-->
                        <!--alt="조회"/></a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

    <div id="myshopMain" class="xans-element- xans-myshop xans-myshop-main">
        <div class="shopMain order">
            <h3><a href="/nguoi-dung/don-hang"><strong>Đơn hàng của tôi</strong>Xem lịch sử đặt hàng</a></h3>
            <p><a href="/nguoi-dung/don-hang">Bạn có thể kiểm tra xử lí đơn đặt hàng của bạn</a></p>
        </div>
        <div class="shopMain profile">
            <h3><a href="/nguoi-dung/thong-tin"><strong>Thông tin người dùng</strong></a></h3>
            <p><a href="/nguoi-dung/thong-tin">Là nơi quản lý thông tin người dùng.<br/>Hãy cập nhật thông tin thường xuyên để có những trải nghiệm tốt nhất.</a></p>
        </div>
    </div>
</div>
