<% layout('/client/layouts/main') %>

<% stylesheet('/public/client/css/registerAddress.css') %>

<% block('title', 'Trang chủ') %>

<div id="contents">

    <div class="path">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li title="현재 위치"><strong>로그인</strong></li>
        </ol>
    </div>

    <div class="titleArea">
        <h2 class="hide">로그인</h2>
    </div>

    <form id="member_form_5416237661" name="" action="/exec/front/Member/login/" method="post"
          enctype="multipart/form-data">
        <input id="returnUrl" name="returnUrl" value="/index.html" type="hidden"/>
        <input id="forbidIpUrl" name="forbidIpUrl" value="/index.html" type="hidden"/>
        <input id="certificationUrl" name="certificationUrl"
               value="/intro/adult_certification.html?returnUrl=" type="hidden"/>
        <input id="sIsSnsCheckid" name="sIsSnsCheckid" value="" type="hidden"/>
        <input id="sProvider" name="sProvider" value="" type="hidden"/>
        <div class="xans-element- xans-member xans-member-login "><!--
        $defaultReturnUrl = /index.html
        $forbidIpUrl = member/adminFail.html
    -->
            <div class="login">
                <h3>MEMBER LOGIN</h3>
                <fieldset>
                    <legend>회원로그인</legend>
                    <label class="id ePlaceholder" title="아이디"><input id="member_id" name="member_id"
                                                                      fw-filter="isFill" fw-label="아이디"
                                                                      fw-msg="" class="inputTypeText"
                                                                      placeholder="" value="" type="text"/></label>
                    <label class="password ePlaceholder" title="비밀번호"><input id="member_passwd"
                                                                             name="member_passwd"
                                                                             fw-filter="isFill&isMin[4]&isMax[16]"
                                                                             fw-label="패스워드" fw-msg=""
                                                                             value=""
                                                                             type="password"/></label>
                    <p class="security">
                        <input id="member_check_save_id0" name="check_save_id" fw-filter="" fw-label="아이디저장"
                               fw-msg="" value="T" type="checkbox"/><label for="member_check_save_id0">아이디
                            저장</label> <img
                                src="//img.echosting.cafe24.com/design/skin/default/member/ico_access.gif"
                                alt="보안접속"/> 보안접속 </p>
                    <a href="#none" onclick="MemberAction.login('member_form_5416237661'); return false;"
                       class="custom_btn custom_btn_login custom_btn_submit"><i class="fa fa-lock"
                                                                                aria-hidden="true"></i> 로그인</a>

                    <ul class="snsArea">
                        <li class="displaynone">
                            <a href="#none" onclick=""
                               class="custom_btn custom_btn_sns_login sns_login_naver"><img
                                        src="/public/client/images/icons/sns_login_naver.png"/> 네이버 로그인</a>
                        </li>
                        <li class="displaynone">
                            <a href="#none" onclick=""
                               class="custom_btn custom_btn_sns_login sns_login_facebook"><img
                                        src="/public/client/images/icons/sns_login_facebook.png"/> 페이스북 로그인</a>
                        </li>
                        <li class="displaynone">
                            <a href="#none" onclick=""
                               class="custom_btn custom_btn_sns_login sns_login_kakao"><img
                                        src="/public/client/images/icons/sns_login_kakao.png"/> 카카오 로그인</a>
                        </li>
                        <li class="displaynone">
                            <a href="#none" onclick=""
                               class="custom_btn custom_btn_sns_login sns_login_google"><img
                                        src="/public/client/images/icons/sns_login_google.png"/> 구글 로그인</a>
                        </li>
                        <li class="displaynone">
                            <a href="#none" onclick=""
                               class="custom_btn custom_btn_sns_login sns_login_line"><img
                                        src="/public/client/images/icons/sns_login_line.png"/> LINE 로그인</a>
                        </li>
                    </ul>
                    <ul class="find_info">
                        <li><a href="/member/id/find_id.html">아이디찾기</a></li>
                        <li><a href="/member/passwd/find_passwd_info.html">비밀번호찾기</a></li>
                    </ul>
                    <p class="custom_join">
                        회원가입을 하시면 다양하고 특별한 혜택이 준비되어 있습니다.
                        <a href="/member/join.html"
                           class="custom_btn custom_btn_login custom_btn_submit_point"><i class="fa fa-user"
                                                                                          aria-hidden="true"></i>
                            회원가입</a>
                    </p>

                </fieldset>
                <div class="displaynone">
                    <h3>NOMEMBER ORDER</h3>
                    <fieldset>
                        <p class="custom_join" id="noMemberWrap">
                            비회원님도 상품구매가 가능하나 다양한 회원혜택에서 제외됩니다.
                            <a href="" onclick=""
                               class="custom_btn custom_btn_login btn_color_type5">비회원구매</a>
                        </p>
                    </fieldset>
                </div>

            </div>
        </div>
    </form>
</div>
