<% layout('../../layouts/client/app') %>

<% stylesheet('/public/client/css/styleOrderHistory.css') %>

<% block('title', 'Trang chủ') %>

<div id="contents">

    <div class="path">
        <span>현재 위치</span>
        <ol><li><a href="/">홈</a></li>
            <li><a href="/myshop/index.html">마이쇼핑</a></li>
            <li title="현재 위치"><strong>주문조회</strong></li>
        </ol></div>

    <div class="titleArea">
        <h2>주문조회</h2>
    </div>

    <div class="xans-element- xans-myshop xans-myshop-orderhistorytab ec-base-tab "><ul class="menu">
            <li class="selected"><a href="/myshop/order/list.html?history_start_date=2018-06-13&history_end_date=2018-09-11">주문내역조회 (0)</a></li>
            <li class=""><a href="/myshop/order/list.html?mode=cs&history_start_date=2018-06-13&history_end_date=2018-09-11">취소/반품/교환 내역 (0)</a></li>
            <li class=" displaynone"><a href="/myshop/order/list_old.html?mode=old&history_start_date=2018-06-13&history_end_date=2018-09-11">이전 주문내역 (0)</a></li>
        </ul>
    </div>

    <form method="GET" id="OrderHistoryForm" name="OrderHistoryForm" ><div class="xans-element- xans-myshop xans-myshop-orderhistoryhead "><fieldset class="ec-base-box">
                <legend>검색기간설정</legend>
                <div class="stateSelect ">
                    <select id="order_status" name="order_status" class="fSelect" >
                        <option value="all">전체 주문처리상태</option>
                        <option value="shipped_before">입금전</option>
                        <option value="shipped_standby">배송준비중</option>
                        <option value="shipped_begin">배송중</option>
                        <option value="shipped_complate">배송완료</option>
                        <option value="order_cancel">취소</option>
                        <option value="order_exchange">교환</option>
                        <option value="order_return">반품</option>
                    </select>        </div>
                <span class="period">
            <a href="#none" class="btnNormal" days="00"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date1.gif" offimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date1.gif" onimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date1_on.gif" alt="오늘"/></a>
            <a href="#none" class="btnNormal" days="07"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date2.gif" offimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date2.gif" onimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date2_on.gif" alt="1주일"/></a>
            <a href="#none" class="btnNormal" days="30"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date3.gif" offimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date3.gif" onimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date3_on.gif" alt="1개월"/></a>
            <a href="#none" class="btnNormal" days="90"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date4.gif" offimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date4.gif" onimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date4_on.gif" alt="3개월"/></a>
            <a href="#none" class="btnNormal" days="180"><img src="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date5.gif" offimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date5.gif" onimage="//img.echosting.cafe24.com/skin/base_ko_KR/myshop/btn_date5_on.gif" alt="6개월"/></a>
        </span>
                <input id="history_start_date" name="history_start_date" class="fText" readonly="readonly" size="10" value="2018-06-13" type="text"  /> ~ <input id="history_end_date" name="history_end_date" class="fText" readonly="readonly" size="10" value="2018-09-11" type="text"  />        <input alt="조회" id="order_search_btn" type="image" src="//img.echosting.cafe24.com/skin/admin_ko_KR/myshop/btn_search.gif"  />    </fieldset>
            <ul>
                <li>기본적으로 최근 3개월간의 자료가 조회되며, 기간 검색시 지난 주문내역을 조회하실 수 있습니다.</li>
                <li>주문번호를 클릭하시면 해당 주문에 대한 상세내역을 확인하실 수 있습니다.</li>
                <li class="">취소/교환/반품 신청은 주문완료일 기준 30일까지 가능합니다.</li>
            </ul>
        </div>
        <input id="mode" name="mode" value="" type="hidden"  />
        <input id="term" name="term" value="" type="hidden"  />
    </form>
    <div class="xans-element- xans-myshop xans-myshop-orderhistorylistitem ec-base-table typeList"><!--
        $login_url = /member/login.html
    -->
        <div class="title">
            <h3>THÔNG TIN ĐƠN ĐẶT HÀNG</h3>
        </div>
        <table border="1" summary="">
            <caption>주문 상품 정보</caption>
            <colgroup>
                <col style="width:135px;"/>
                <col style="width:93px;"/>
                <col style="width:auto;"/>
                <col style="width:61px;"/>
                <col style="width:111px;"/>
                <col style="width:111px;"/>
                <col style="width:111px;"/>
            </colgroup>
            <thead> 
                <tr>
                    <th scope="col">Mã đơn hàng</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Thành tiền</th>
                    <th scope="col">Trạng thái đơn hàng</th>
                    <th scope="col">Hủy/ đổi</th>
                </tr>
            </thead>
            <tbody class="center ">
             
                <% if(bills.docs.length !== 0) { %>
                    <% bills.forEach((bill) => { %>
                        <tr class="">
                            <td  class="number ">
                                <%= bill.createdAt %>   
                            </td>
                            <td class="thumb">
                                <a href="">
                                    <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjll9ygpL3dAhVPNrwKHTH_DaMQjRx6BAgBEAU&url=https%3A%2F%2Fwww.uef.edu.vn%2Ftin-tuyen-sinh%2Fhoc-nganh-cong-nghe-thong-tin-ra-truong-lam-nghe-gi-3853&psig=AOvVaw3VehJ41VcEGEnixxS4Q0sh&ust=1537109491014911"  alt=""/>
                                </a>
                            </td>
                            <td class="">
                                egegerger
                            </td>
                            <td> 12</td>
                            <td class="right">
                                <strong>12400000</strong>
                            </td>
                            <td class="state">
                                Chưa xác nhận
                            </td>
                            <td>
                                Hủy/đổi
                            </td>
                        </tr>   
                    <% }) %>
                <% } %>
    
            </tbody>
        </table>
        <% if(bills.docs.length === 0 ) { %>
        <p class="message ">Chưa có đơn đặt hàng nào.</p>
        <% } %>
    </div>

    <div class="xans-element- xans-myshop xans-myshop-orderhistorypaging ec-base-paginate"><a href="?page=1&history_start_date=2018-06-13&history_end_date=2018-09-11" class="first"><img src="//img.echosting.cafe24.com/skin/base/common/btn_page_first.gif" alt="첫 페이지"/></a>
        <a href="?page=1&history_start_date=2018-06-13&history_end_date=2018-09-11"><img src="//img.echosting.cafe24.com/skin/base/common/btn_page_prev.gif" alt="이전 페이지"/></a>
        <ol>
            <li class="xans-record-"><a href="?page=1&history_start_date=2018-06-13&history_end_date=2018-09-11" class="this">1</a></li>
        </ol>
        <a href="?page=1&history_start_date=2018-06-13&history_end_date=2018-09-11"><img src="//img.echosting.cafe24.com/skin/base/common/btn_page_next.gif" alt="다음 페이지"/></a>
        <a href="?page=1&history_start_date=2018-06-13&history_end_date=2018-09-11" class="last"><img src="//img.echosting.cafe24.com/skin/base/common/btn_page_last.gif" alt="마지막 페이지"/></a>
    </div>
</div>
