<% layout('/client/layouts/main') %>

<% stylesheet('/public/client/css/styleProfile.css') %>

<% block('title', 'Trang chủ') %>

<div id="contents">

    <div class="path">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li title="현재 위치"><strong>회원 정보 수정</strong></li>
        </ol>
    </div>

    <div class="titleArea">
        <h2>회원 정보 수정</h2>
    </div>

    <div class="xans-element- xans-myshop xans-myshop-asyncbenefit">
        <div class="ec-base-box typeMember gMessage ">
            <div class="information">
                <p class="thumbnail"><img src="" alt=""
                                          onerror="this.src='//img.echosting.cafe24.com/skin/base/member/img_member_default.gif';"
                                          class="myshop_benefit_group_image_tag"/></p>
                <div class="description">
                    <p>저희 쇼핑몰을 이용해 주셔서 감사합니다. <strong class="txtEm"><span
                                    class="authssl_member_name">*****</span></strong> 님은 <strong>[<span
                                    class="xans-member-var-group_name"></span><span
                                    class="myshop_benefit_ship_free_message"></span>]</strong> 회원이십니다.</p>
                    <p class="displaynone myshop_benefit_display_no_benefit "><strong class="txtEm"><span
                                    class="myshop_benefit_dc_pay"></span> <span
                                    class="myshop_benefit_dc_min_price"></span></strong> 구매시 <strong
                                class="txtEm"><span class="myshop_benefit_dc_price"></span><span
                                    class="myshop_benefit_dc_type"></span></strong>을 <span
                                class="myshop_benefit_use_dc"></span> 받으실 수 있습니다. <span
                                class="myshop_benefit_dc_max_percent"></span></p>
                    <p class="displaynone myshop_benefit_display_with_all "><strong class="txtEm"><span
                                    class="myshop_benefit_dc_pay"></span> <span
                                    class="myshop_benefit_dc_min_price_mileage"></span></strong> 구매시 <strong
                                class="txtEm"><span class="myshop_benefit_dc_price_mileage"></span><span
                                    class="myshop_benefit_dc_type_mileage"></span></strong>을 <span
                                class="myshop_benefit_use_dc_mileage"></span> 받으실 수 있습니다. <span
                                class="myshop_benefit_dc_max_mileage_percent"></span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="xans-element- xans-member xans-member-updateeventlogon ec-base-box displaynone "><strong
                class="title">회원정보 수정 시 을 지급하는 이벤트를 진행중입니다.</strong>
        <ul>
            <li>이벤트 기간 :</li>
            <li>아래의 조건을 충족한 경우 지급됩니다.<br/></li>
        </ul>
    </div>

    <form id="editForm" name="editForm" action="/exec/front/Member/edit/" method="post"
          enctype="multipart/form-data">
        <input id="useSimpleSignin" name="useSimpleSignin" value="F" type="hidden"/>
        <input id="is_certification" name="is_certification" value="F" type="hidden"/>
        <input id="emailDuplCheck" name="emailDuplCheck" value="T" type="hidden"/>
        <input id="login_id_type" name="login_id_type" value="id" type="hidden"/>
        <input id="display_required_job" name="display_required_job" value="F" type="hidden"/>
        <input id="display_required_reco_id" name="display_required_reco_id" value="F" type="hidden"/>
        <input id="display_required_school" name="display_required_school" value="F" type="hidden"/>
        <input id="display_required_earning" name="display_required_earning" value="F" type="hidden"/>
        <input id="display_required_interest" name="display_required_interest" value="F" type="hidden"/>
        <input id="display_required_region" name="display_required_region" value="F" type="hidden"/>
        <input id="display_required_job_class" name="display_required_job_class" value="F" type="hidden"/>
        <input id="display_required_child" name="display_required_child" value="F" type="hidden"/>
        <input id="display_required_car" name="display_required_car" value="F" type="hidden"/>
        <input id="display_required_sex" name="display_required_sex" value="F" type="hidden"/>
        <input id="display_required_internet" name="display_required_internet" value="F" type="hidden"/>
        <input id="required_is_sms_flag" name="required_is_sms_flag" value="T" type="hidden"/>
        <input id="required_is_news_mail_flag" name="required_is_news_mail_flag" value="T" type="hidden"/>
        <input id="is_display_register_wedding" name="is_display_register_wedding" value="F" type="hidden"/>
        <input id="display_required_is_wedding_anniversary" name="display_required_is_wedding_anniversary"
               value="F" type="hidden"/>
        <input id="is_display_register_life_partner" name="is_display_register_life_partner" value="F"
               type="hidden"/>
        <input id="display_required_is_life_partner" name="display_required_is_life_partner" value="F"
               type="hidden"/>
        <input id="is_display_register_birthday" name="is_display_register_birthday" value="F"
               type="hidden"/>
        <input id="display_required_is_birthday" name="display_required_is_birthday" value="F"
               type="hidden"/>
        <input id="nick_name_flag" name="nick_name_flag" value="F" type="hidden"/>
        <input id="nick_name_confirm" name="nick_name_confirm" value="F" type="hidden"/>
        <input id="display_required_nick_name_flag" name="display_required_nick_name_flag" value="F"
               type="hidden"/>
        <input id="display_required_add1" name="display_required_add1" value="F" type="hidden"/>
        <input id="display_required_add2" name="display_required_add2" value="F" type="hidden"/>
        <input id="display_required_add3" name="display_required_add3" value="F" type="hidden"/>
        <input id="display_required_add4" name="display_required_add4" value="F" type="hidden"/>
        <input id="passwd_type" name="passwd_type" value="C" type="hidden"/>
        <input id="is_display_register_phone" name="is_display_register_phone" value="F" type="hidden"/>
        <input id="display_required_phone" name="display_required_phone" value="F" type="hidden"/>
        <input id="display_register_phone" name="display_register_phone" value="F" type="hidden"/>
        <input id="is_display_register_name" name="is_display_register_name" value="T" type="hidden"/>
        <input id="display_required_name" name="display_required_name" value="T" type="hidden"/>
        <input id="is_display_register_eng_name" name="is_display_register_eng_name" value="F"
               type="hidden"/>
        <input id="display_required_name_en" name="display_required_name_en" value="F" type="hidden"/>
        <input id="is_display_register_addr" name="is_display_register_addr" value="T" type="hidden"/>
        <input id="__addr1" name="__addr1" value="" type="hidden"/>
        <input id="__city_name" name="__city_name" value="" type="hidden"/>
        <input id="__state_name" name="__state_name" value="" type="hidden"/>
        <input id="display_required_address" name="display_required_address" value="T" type="hidden"/>
        <input id="display_required_address2" name="display_required_address2" value="T" type="hidden"/>
        <input id="is_display_register_name_phonetic" name="is_display_register_name_phonetic" value="F"
               type="hidden"/>
        <input id="display_required_name_phonetic" name="display_required_name_phonetic" value="F"
               type="hidden"/>
        <input id="is_display_register_mobile" name="is_display_register_mobile" value="T" type="hidden"/>
        <input id="display_required_cell" name="display_required_cell" value="T" type="hidden"/>
        <input id="display_register_mobile" name="display_register_mobile" value="F" type="hidden"/>
        <input id="is_display_password_hint" name="is_display_password_hint" value="T" type="hidden"/>
        <input id="returnUrl" name="returnUrl" value="/" type="hidden"/>
        <input id="sUseCountryNumberFlag" name="sUseCountryNumberFlag" value="T" type="hidden"/>
        <input id="sUseSeparationNameFlag" name="sUseSeparationNameFlag" value="T" type="hidden"/>
        <input id="sEData" name="sEData"
               value="I0ICW4wmaTB8RL0Slso9KdbiE+AjnkG/P4b0tOyuyBjUaLXJc6QL7uK6hIoaBbxv+tHP08u6xbyH5N8IkzJynZal4PFHD5UepzjdijW6AwyigBprrn2EDLrTAkbqXQ+0khwXJ7qw2agnTibvJXCd8qYNNpxUh3kklf0YP4+yJSxPcmzWtsSSt6GuHiLw2vid0kB2FBuumBhr5OtwIbJIP+TpJCXMjiJ5Woj13em6HOKhd1G4+r5sjL22gvujspHND1fxxnEc+JFHISoYhhC+ufpxLCEce8zKJRDBeuXfZZ9GwBeXHTezZIguLloQBZjvgK4fxy8eRl8Mo5hcfb9jUCa29g9FVIOFNo4rNzuumdKN0tQKa+2Y9/iMEAJeqyBaz5J941HvHYE1RbQ+a2lUjqHPQNDaVfpU3MKCbe/jPfgr79Xa4FOhavrfpUm8/Oaj7ny54CN4NwdvEj6r+0lPWXN3OkGtjalNsiBhraoQFHtLS6ghm7nZSjfgm4ypFtbBYicDzcbXbUaTBNXYKqkBXtfJF66+Xp1I15ICwsi0BsLRZ/3DykfgTOePDFbBmFoyQD9eKzctT6NOlBKg0MB05yMzyt1Pn+5bHcSKdzyNjy6SDwqBZGjWUQAau0zjZb7QTj9N5UlmeXr65Xh4XDstcosb7oi3yj4wxv4gpTB/ZSu7pbCOfIyleR1i4t6zZz5lVkbCa8/ljMrlTSNLDCip8kak+6F2o+fSh/VbKmo530rj1kWbIvnYTKo8sOvA0x2XM9PqZRJ2P0vP6SBcnW0B3GMxVm9zXLWO7NWdTZXtPCCjw7IMGYV6rO9ktXeQOfxSZETJNGTaqAKPf/MLWmplzYPJ2qB30O7kaGKxwd5zW8K47ZYSSYDvBd6zZ+EP55Ghl3Q/q/zLEQxf3nxbXQx9cYABk/ngsBrJOlXsnrnINm6m5yzP0l5LA9FejSHgmFqcm4I6OzpwKBthcDKl0gBn3kIw4H1wKaOxLIdNd4+GGCK2aBTPgERucIl7AgV2v2sND+ADoq8UdkN5vicFk/UBZvi5rH/Tz7Mqw5heK5FIIR954a/5pf6z8Ft5NYEsdX7jwcVZ/3Lhtq/+0AJUDkx1ExlWTqYWIWXW/r17lwzteE3RzwzrdVVUjQIMuZ1D91Ed29H2SJj/k0YtC0ejNqz8mh5W23Zz4qP/Ya5Y46g6HX8XkvnorpcigH0kfT6pGBKsHzZYie/sfkfnCcjIiThMKesiT+mfs7bJ66f5PrPab2RWKo+DkvC92G9EVwAvzjpZISXQn8zQVjJidRzVTtIcsV1t+glyB5nfyAJr6T5NduX77ffGpE1csHYlwyNsra3q49HYdQ6D9ywTZTWpY3vJClVllFbtd+MdMDcW4JmewjDCYyriRZv6HkQ9bkCgdxF5IEXoQRn3QsvaBqqLgBJYZl+iS0naN+z4Ug1CEIankxQG1Tc46t+wo57qb/yYNYdqv2PFf2ub+EY4wuTUHhBbzO9oxJLsGxu9Jz3XJB5d1EEdpoTjY/lgax8ZHmQgQRYiS6zaJP7iSAIC7QJlSwHthMI/4mwF+IwKDkr6iPk1qr+oWfDgHEPAidb+6DQlBUHImQxFgV/ie3oL+1iwR4qf1CiBOTeGoVinwX7JOrju5n3Mob8ix1tKiZ7MtFAAsKYHVOdDvlubfJ4W2oyktUnZ2AME859QJoIveOvSv3aEgYs="
               type="hidden"/>
        <input id="sEDataDiff" name="sEDataDiff"
               value="eyJhZGQxIjoiZDQxZDhjZDk4ZjAwYjIwNGU5ODAwOTk4ZWNmODQyN2UiLCJhZGQyIjoiZDQxZDhjZDk4ZjAwYjIwNGU5ODAwOTk4ZWNmODQyN2UiLCJhZGQzIjoiZDQxZDhjZDk4ZjAwYjIwNGU5ODAwOTk4ZWNmODQyN2UiLCJhZGQ0IjoiZDQxZDhjZDk4ZjAwYjIwNGU5ODAwOTk4ZWNmODQyN2UiLCJtZW1iZXJfaWQiOiJmYzVlMDM4ZDM4YTU3MDMyMDg1NDQxZTdmZTcwMTBiMCIsImhpbnRfYW5zd2VyIjoiODM5NGYwMzQ3YzE4NGNmMTU2YWM1OTI0ZGNjYjc3M2IiLCJuYW1lX2NvbnRlbnRzIjoiZmNjMjAwNWI0ZTRkMjFhODMxMWYzZDc0NzRhZDdkZDUiLCJzc25fY29udGVudHMiOiI1OGE0YTQ3YzQ3ZGRhMTE1MmFjNGYxOGIwZjE2M2U3NCIsInBvc3Rjb2RlMSI6IjY2ZDFlN2E0N2Q5MjM5YzYzOTRhMDkyMTI3NzMyOWJlIiwicG9zdGNvZGUyIjoiZDQxZDhjZDk4ZjAwYjIwNGU5ODAwOTk4ZWNmODQyN2UiLCJhZGRyMSI6IjBiNGUyODA0YmViMmY5N2UyYTAzM2VlMTc4NzY4MmVjIiwiYWRkcjIiOiI3YTdkNTI2NDMyZTFkYTQyMTA2OTVlZmQwNTRhZjE4YiIsImNpdHlfbmFtZSI6ImQ0MWQ4Y2Q5OGYwMGIyMDRlOTgwMDk5OGVjZjg0MjdlIiwic3RhdGVfbmFtZSI6ImQ0MWQ4Y2Q5OGYwMGIyMDRlOTgwMDk5OGVjZjg0MjdlIiwicGhvbmUyIjoiODFkYzliZGI1MmQwNGRjMjAwMzZkYmQ4MzEzZWQwNTUiLCJwaG9uZTMiOiI2YzE0ZGExMDllMjk0ZDFlODE1NWJlOGFhNGIxY2U4ZSIsIm1vYmlsZTIiOiI2YzE0ZGExMDllMjk0ZDFlODE1NWJlOGFhNGIxY2U4ZSIsIm1vYmlsZTMiOiI2YzE0ZGExMDllMjk0ZDFlODE1NWJlOGFhNGIxY2U4ZSIsImVtYWlsMSI6IjA1NmFiYmVmYjg5Y2FiZjIwNzU2MjlkMzRlNWU2ZDY1IiwiZW1haWwyIjoiZjc0ZDM5ZmEwNDRhYTMwOWVhZWExNGI5ZjU3ZmU3OWMiLCJlbWFpbDMiOiJmNzRkMzlmYTA0NGFhMzA5ZWFlYTE0YjlmNTdmZTc5YyIsImJpcnRoX3llYXIiOiI0YTNlMDA5NjFhMDg4NzljMzRmOTFjYTAwNzBlYTJmNSIsImJpcnRoX21vbnRoIjoiZDcyZDE4N2RmNDFlMTBlYTdkOWZjZGM3ZjU5MDkyMDUiLCJiaXJ0aF9kYXkiOiI3NTFkMzFkZDZiNTZiMjZiMjlkYWMyYzBlMTgzOWUzNCIsIm1hcnJ5X3llYXIiOiJkNDFkOGNkOThmMDBiMjA0ZTk4MDA5OThlY2Y4NDI3ZSIsIm1hcnJ5X21vbnRoIjoiZDQxZDhjZDk4ZjAwYjIwNGU5ODAwOTk4ZWNmODQyN2UiLCJtYXJyeV9kYXkiOiJkNDFkOGNkOThmMDBiMjA0ZTk4MDA5OThlY2Y4NDI3ZSIsInBhcnRuZXJfeWVhciI6ImQ0MWQ4Y2Q5OGYwMGIyMDRlOTgwMDk5OGVjZjg0MjdlIiwicGFydG5lcl9tb250aCI6ImQ0MWQ4Y2Q5OGYwMGIyMDRlOTgwMDk5OGVjZjg0MjdlIiwicGFydG5lcl9kYXkiOiJkNDFkOGNkOThmMDBiMjA0ZTk4MDA5OThlY2Y4NDI3ZSIsIl9fYWRkcjEiOiIwYjRlMjgwNGJlYjJmOTdlMmEwMzNlZTE3ODc2ODJlYyIsIl9fY2l0eV9uYW1lIjoiZDQxZDhjZDk4ZjAwYjIwNGU5ODAwOTk4ZWNmODQyN2UiLCJfX3N0YXRlX25hbWUiOiJkNDFkOGNkOThmMDBiMjA0ZTk4MDA5OThlY2Y4NDI3ZSIsInBob25lMSI6ImEyZWY0MDZlMmMyMzUxZTBiOWU4MDAyOWM5MDkyNDJkIiwibW9iaWxlMSI6IjczZjc2MzRhYjNmMzgxZmI0MDk5NWY5Mzc0MGIzZjhhIiwibmlja19uYW1lIjoiZDQxZDhjZDk4ZjAwYjIwNGU5ODAwOTk4ZWNmODQyN2UiLCJpc19uZXdzX21haWwiOiJiOWVjZTE4Yzk1MGFmYmZhNmIwZmRiZmE0ZmY3MzFkMyIsImlzX3NtcyI6ImI5ZWNlMThjOTUwYWZiZmE2YjBmZGJmYTRmZjczMWQzIiwic2V4IjoiNzIxNWVlOWM3ZDlkYzIyOWQyOTIxYTQwZTg5OWVjNWYiLCJpc19zb2xhcl9jYWxlbmRhciI6ImI5ZWNlMThjOTUwYWZiZmE2YjBmZGJmYTRmZjczMWQzIiwicmVnaW9uIjoiNjE2ODhlZmRlMWY4N2MzNDY0MjliZDlhZjAzNGQzMWEiLCJpbnRlcmVzdCI6Ijg1M2FlOTBmMDM1MTMyNGJkNzNlYTYxNWU2NDg3NTE3IiwiaW50ZXJuZXQiOiI4ZTA1YzE3Y2U2YzE0ODUwOTcxNDg1ODM0YTVjZmIzMSIsImNoaWxkIjoiMGFjZjc0MjU2ZjAyYjdiNWU2YTAxZDU3MTlmZTg5NDYiLCJjYXIiOiJhNzhmMDAyNDUzY2NiYzExYzBiN2MwODA0OWZjZTYyOSIsImF2YWlsX21pbGVhZ2UiOiJmN2RkZDQ4OWFiMGE4MjU2N2IyNDFiMDU5NzFjYmRiMyIsInJlY29faWQiOiJkNDFkOGNkOThmMDBiMjA0ZTk4MDA5OThlY2Y4NDI3ZSIsInppcGNvZGUiOiI2NmQxZTdhNDdkOTIzOWM2Mzk0YTA5MjEyNzczMjliZSIsIm1lbWJlcl90eXBlIjoiODM4NzhjOTExNzEzMzg5MDJlMGZlMGZiOTdhOGM0N2EiLCJjb21wYW55X3R5cGUiOiI3MjE1ZWU5YzdkOWRjMjI5ZDI5MjFhNDBlODk5ZWM1ZiIsImNzc24iOiJkNDFkOGNkOThmMDBiMjA0ZTk4MDA5OThlY2Y4NDI3ZSIsImJuYW1lIjoiZDQxZDhjZDk4ZjAwYjIwNGU5ODAwOTk4ZWNmODQyN2UiLCJjbmFtZSI6ImQ0MWQ4Y2Q5OGYwMGIyMDRlOTgwMDk5OGVjZjg0MjdlIiwiYnNzbjEiOiJkNDFkOGNkOThmMDBiMjA0ZTk4MDA5OThlY2Y4NDI3ZSIsImZvcmVpZ25lcl90eXBlIjoiNzIxNWVlOWM3ZDlkYzIyOWQyOTIxYTQwZTg5OWVjNWYiLCJjaXRpemVuc2hpcCI6ImQ0MWQ4Y2Q5OGYwMGIyMDRlOTgwMDk5OGVjZjg0MjdlIiwicGVyc29uYWxfdHlwZSI6IjcyMTVlZTljN2Q5ZGMyMjlkMjkyMWE0MGU4OTllYzVmIiwicmVmdW5kX2JhbmtfY29kZSI6ImQ0MWQ4Y2Q5OGYwMGIyMDRlOTgwMDk5OGVjZjg0MjdlIiwiY291bnRyeV9jb2RlIjoiNjI4NjMxZjA3MzIxYjIyZDhjMTc2YzIwMGM4NTVlMWIiLCJpc19hZ3JlZWRfcHJvdmlkaW5nX2luZm9ybWF0aW9uIjoiODAwNjE4OTQzMDI1MzE1Zjg2OWU0ZTFmMDk0NzEwMTIiLCJpc19hZ3JlZWRfY29uc2lnbmluZ19pbmZvcm1hdGlvbiI6IjgwMDYxODk0MzAyNTMxNWY4NjllNGUxZjA5NDcxMDEyIiwiaXNfYXV0aGVudGljYXRlZF9ieV9lbWFpbCI6ImQ0MWQ4Y2Q5OGYwMGIyMDRlOTgwMDk5OGVjZjg0MjdlIiwidG90YWxfZGVwb3NpdCI6ImQ0MWQ4Y2Q5OGYwMGIyMDRlOTgwMDk5OGVjZjg0MjdlIn0="
               type="hidden"/>
        <input id="display_agree_information_check_flag" name="display_agree_information_check_flag"
               value="F" type="hidden"/>
        <input id="display_agree_consignment_check_flag" name="display_agree_consignment_check_flag"
               value="F" type="hidden"/>
        <div class="xans-element- xans-member xans-member-edit"><!--
        $login_page = /member/login.html
     -->
            <div class="displaynone">
                <h3>회원인증</h3>
                <div class="ec-base-table typeWrite">
                    <table border="1" summary="">
                        <caption>회원인증</caption>
                        <colgroup>
                            <col style="width:150px;"/>
                            <col style="width:auto;"/>
                        </colgroup>
                        <tbody>
                        <tr class="displaynone">
                            <th scope="row">회원구분</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">인증여부</th>
                            <td>
                                <strong class="txtEm">미인증</strong>
                                <ul class="certifInfo">
                                </ul>
                            </td>
                        </tr>
                        <tr class="">
                            <th scope="row">회원인증</th>
                            <td>
                                <div class="certifForm" id="ipinWrap">
                                    <a href="#none" onclick=""><img
                                                src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_check6.gif"
                                                alt="아이핀 인증"/></a>
                                    <p class="certifInfo">아이핀이란, 회원님의 개인정보 보호를 위해 웹사이트에 주민등록번호를 제공하지 않고 본인임을
                                        확인하는 인터넷상의 개인식별번호 서비스입니다.<br/>아이핀을 통한 가입을 원하시면 아이핀 인증 버튼을 눌러 진행해
                                        주십시오.</p>
                                </div>
                                <div class="certifForm" id="mobileWrap">
                                    <a href="#none" onclick=""><img
                                                src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_check5.gif"
                                                alt="휴대폰 인증"/></a>
                                    <p class="certifInfo">본인 명의의 휴대폰으로 본인인증을 진행합니다.</p>
                                </div>
                                <div class="certifForm" id="emailWrap">
                                    <p class="certifInfo">기본정보 &gt; 이메일 항목에 입력하신 정보로 본인인증을 진행합니다.<br/>정보수정
                                        후에 입력하신 이메일 주소로 인증 메일이 발송되오니, 확인해 주시기 바랍니다.</p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 class=" ">기본정보</h3>
            <p class="required "><img src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                      alt="필수"/> 필수입력사항</p>
            <div class="ec-base-table typeWrite">
                <table border="1" summary="">
                    <caption>회원 기본정보</caption>
                    <colgroup>
                        <col style="width:150px;"/>
                        <col style="width:auto;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">아이디 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td>
                            <input id="member_id" name="member_id"
                                   fw-filter="isFill&isFill&isMin[4]&isMax[16]&isIdentity" fw-label="아이디"
                                   fw-msg="" class="inputTypeText" placeholder="" readonly="readonly"
                                   value="" type="text"/> (영문소문자/숫자, 4~16자)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">비밀번호 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif" class=""
                                    alt="필수"/></th>
                        <td><input id="passwd" name="passwd" fw-filter="isFill&isMin[4]&isMax[16]"
                                   fw-label="비밀번호" fw-msg="" autocomplete="off" maxlength="16" 0="disabled"
                                   value="" type="password"/> (영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자)
                        </td>
                    </tr>
                    <tr class="">
                        <th scope="row">비밀번호 확인 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td><input id="user_passwd_confirm" name="user_passwd_confirm"
                                   fw-filter="isFill&isMatch[passwd]" fw-label="비밀번호 확인"
                                   fw-msg="비밀번호가 일치하지 않습니다." autocomplete="off" maxlength="16" 0="disabled"
                                   value="" type="password"/> <span id="pwConfirmMsg"></span>
                        </td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">새 비밀번호</th>
                        <td><input id="new_passwd" name="new_passwd" fw-filter="isFill&isMin[4]&isMax[16]"
                                   fw-label="새 비밀번호" fw-msg="" maxlength="16" 0="disabled" value=""
                                   type="password"/> (영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자)
                        </td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">새 비밀번호 확인</th>
                        <td><input id="new_passwd_confirm" name="new_passwd_confirm"
                                   fw-filter="isFill&isMin[4]&isMax[16]" fw-label="비밀번호" fw-msg=""
                                   maxlength="16" 0="disabled" value="" type="password"/> <span
                                    id="new_pwConfirmMsg"></span>
                        </td>
                    </tr>
                    <tr class="">
                        <th scope="row">비밀번호 확인 질문 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td><select id="hint" name="hint" fw-filter="isFill" fw-label="hint" fw-msg="">
                                <option value="hint_01">기억에 남는 추억의 장소는?</option>
                                <option value="hint_02">자신의 인생 좌우명은?</option>
                                <option value="hint_03" selected="selected">자신의 보물 제1호는?</option>
                                <option value="hint_04">가장 기억에 남는 선생님 성함은?</option>
                                <option value="hint_05">타인이 모르는 자신만의 신체비밀이 있다면?</option>
                                <option value="hint_06">추억하고 싶은 날짜가 있다면?</option>
                                <option value="hint_07">받았던 선물 중 기억에 남는 독특한 선물은?</option>
                                <option value="hint_08">유년시절 가장 생각나는 친구 이름은?</option>
                                <option value="hint_09">인상 깊게 읽은 책 이름은?</option>
                                <option value="hint_10">읽은 책 중에서 좋아하는 구절이 있다면?</option>
                                <option value="hint_11">자신이 두번째로 존경하는 인물은?</option>
                                <option value="hint_12">친구들에게 공개하지 않은 어릴 적 별명이 있다면?</option>
                                <option value="hint_13">초등학교 때 기억에 남는 짝꿍 이름은?</option>
                                <option value="hint_14">다시 태어나면 되고 싶은 것은?</option>
                                <option value="hint_15">내가 좋아하는 캐릭터는?</option>
                            </select></td>
                    </tr>
                    <tr class="">
                        <th scope="row">비밀번호 확인 답변 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td><input id="hint_answer" name="hint_answer" fw-filter="isFill"
                                   fw-label="비밀번호 확인시 답변" fw-msg="" class="inputTypeText" placeholder=""
                                   value="" type="text"/></td>
                    </tr>
                    <tr style="display:">
                        <th scope="row" id="">이름 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td><input id="name" name="name" fw-filter="isFill&isMax[30]" fw-label="이름"
                                   fw-msg="" class="ec-member-name" placeholder="" maxlength="30"
                                   readonly="readonly" value="Le Van Long" type="text"/></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">이름(영문) <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><input id="name_en" name="name_en" fw-filter="isMax[30]" fw-label="이름(영문)"
                                   fw-msg="" class="ec-member-name" placeholder="" maxlength="30" value=""
                                   type="text"/> (이름 - 성 형식으로 입력해 주세요.)
                        </td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">법인명 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">법인번호 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">상호명 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">사업자번호 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">국적 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="">
                        <th scope="row">주소 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif" class=""
                                    alt="필수"/></th>
                        <td>
                            <input id="postcode1" name="postcode1" fw-filter="isLengthRange[1][14]"
                                   fw-label="우편번호1" fw-msg="" class="inputTypeText" placeholder=""
                                   readonly="readonly" maxlength="14" value="" type="text"/> <a href="#none"
                                                                                                onclick="ZipcodeFinder.Opener.bind('postBtn', 'postcode1', 'postcode2', 'addr1', 'layer', 'ko_KR');"
                                                                                                id="postBtn"><img
                                        src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_zipcode.gif"
                                        alt="우편번호"/></a><br/>
                            <input id="addr1" name="addr1" fw-filter="isFill" fw-label="주소" fw-msg=""
                                   class="inputTypeText" placeholder="" readonly="readonly" value=""
                                   type="text"/> 기본주소<br/>
                            <input id="addr2" name="addr2" fw-filter="" fw-label="주소" fw-msg=""
                                   class="inputTypeText" placeholder="" value="" type="text"/> 나머지주소
                        </td>
                    </tr>
                    <tr class="">
                        <th scope="row">일반전화 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><select id="phone1" name="phone[]" fw-filter="isNumber&isNumber" fw-label="일반전화"
                                    fw-alone="N" fw-msg="">
                                <option value="02">02</option>
                                <option value="031">031</option>
                                <option value="032">032</option>
                                <option value="033">033</option>
                                <option value="041">041</option>
                                <option value="042">042</option>
                                <option value="043">043</option>
                                <option value="044">044</option>
                                <option value="051">051</option>
                                <option value="052">052</option>
                                <option value="053">053</option>
                                <option value="054">054</option>
                                <option value="055">055</option>
                                <option value="061">061</option>
                                <option value="062">062</option>
                                <option value="063">063</option>
                                <option value="064">064</option>
                                <option value="0502">0502</option>
                                <option value="0503">0503</option>
                                <option value="0504">0504</option>
                                <option value="0505">0505</option>
                                <option value="0506">0506</option>
                                <option value="0507">0507</option>
                                <option value="070">070</option>
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </select>-<input id="phone2" name="phone[]" maxlength="4"
                                             fw-filter="isNumber&isNumber" fw-label="일반전화" fw-alone="N"
                                             fw-msg="" value="" type="text"/>-<input id="phone3" name="phone[]"
                                                                                     maxlength="4"
                                                                                     fw-filter="isNumber&isNumber"
                                                                                     fw-label="일반전화"
                                                                                     fw-alone="N" fw-msg=""
                                                                                     value="" type="text"/></td>
                    </tr>
                    <tr class="">
                        <th scope="row">휴대전화 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif" class=""
                                    alt="필수"/></th>
                        <td><select id="mobile1" name="mobile[]" fw-filter="isNumber&isFill" fw-label="휴대전화"
                                    fw-alone="N" fw-msg="">
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </select>-<input id="mobile2" name="mobile[]" maxlength="4"
                                             fw-filter="isNumber&isFill" fw-label="휴대전화" fw-alone="N" fw-msg=""
                                             value="" type="text"/>-<input id="mobile3" name="mobile[]"
                                                                           maxlength="4"
                                                                           fw-filter="isNumber&isFill"
                                                                           fw-label="휴대전화" fw-alone="N"
                                                                           fw-msg="" value="" type="text"/></td>
                    </tr>
                    <tr class="">
                        <th scope="row">SMS 수신여부 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td><input id="is_sms0" name="is_sms" fw-filter="isFill" fw-label="is_sms" fw-msg=""
                                   value="T" type="radio" checked="checked"/><label
                                    for="is_sms0">수신함</label>
                            <input id="is_sms1" name="is_sms" fw-filter="isFill" fw-label="is_sms" fw-msg=""
                                   value="F" type="radio"/><label for="is_sms1">수신안함</label>
                            <p>쇼핑몰에서 제공하는 유익한 이벤트 소식을 SMS로 받으실 수 있습니다.</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">이메일 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td>
                            <input id="email1" name="email1" fw-filter="isFill" fw-label="이메일" fw-alone="N"
                                   fw-msg="" class="mailId" value="" type="text"/>@<input id="email2"
                                                                                          name="email2"
                                                                                          fw-filter="isFill"
                                                                                          fw-label="이메일"
                                                                                          fw-alone="N"
                                                                                          fw-msg=""
                                                                                          class="mailAddress"
                                                                                          readonly="readonly"
                                                                                          value=""
                                                                                          type="text"/><select
                                    id="email3" fw-filter="isFill" fw-label="이메일" fw-alone="N" fw-msg="">
                                <option value="" selected="selected">- 이메일 선택 -</option>
                                <option value="naver.com">naver.com</option>
                                <option value="daum.net">daum.net</option>
                                <option value="nate.com">nate.com</option>
                                <option value="hotmail.com">hotmail.com</option>
                                <option value="yahoo.com">yahoo.com</option>
                                <option value="empas.com">empas.com</option>
                                <option value="korea.com">korea.com</option>
                                <option value="dreamwiz.com">dreamwiz.com</option>
                                <option value="gmail.com">gmail.com</option>
                                <option value="etc">직접입력</option>
                            </select> <span id="emailMsg"></span>
                            <p class="displaynone">이메일 주소 변경 시 로그아웃 후 재인증을 하셔야만 로그인이 가능합니다.<br/>인증 메일은 24시간
                                동안 유효하며, 유효 시간이 만료된 후에는 가입 정보로 로그인 하셔서 재발송 요청을 해주시기 바랍니다.</p>
                        </td>
                    </tr>
                    <tr class="">
                        <th scope="row">이메일 수신여부 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    alt="필수"/></th>
                        <td><input id="is_news_mail0" name="is_news_mail" fw-filter="isFill"
                                   fw-label="is_news_mail" fw-msg="" value="T" type="radio"
                                   checked="checked"/><label for="is_news_mail0">수신함</label>
                            <input id="is_news_mail1" name="is_news_mail" fw-filter="isFill"
                                   fw-label="is_news_mail" fw-msg="" value="F" type="radio"/><label
                                    for="is_news_mail1">수신안함</label>
                            <p>쇼핑몰에서 제공하는 유익한 이벤트 소식을 이메일로 받으실 수 있습니다.</p>
                        </td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">평생회원</th>
                        <td>
                            <input id="is_lifetime0" name="is_lifetime" fw-filter="" fw-label="is_lifetime"
                                   fw-msg="" value="T" type="radio"/><label for="is_lifetime0">동의함</label>
                            <input id="is_lifetime1" name="is_lifetime" fw-filter="" fw-label="is_lifetime"
                                   fw-msg="" value="F" type="radio" checked="checked"/><label
                                    for="is_lifetime1">동의안함</label>
                            <ul class="txtDesc">
                                <li>평생회원은 <strong>로렌 louren</strong> 회원 탈퇴시까지 휴면회원으로 전환되지 않습니다.</li>
                                <li class="displaynone">지금 평생회원으로 전환하시면 쿠폰혜택을 드립니다.(전환시 최초 1회)</li>
                                <li class="displaynone">평생회원 쿠폰혜택을 받으신 경우, 3개월간 평생회원을 유지하셔야 합니다.</li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3 class=" ">추가정보</h3>
            <div class="ec-base-table typeWrite ">
                <table border="1" summary="">
                    <caption>회원 추가정보</caption>
                    <colgroup>
                        <col style="width:150px;"/>
                        <col style="width:auto;"/>
                    </colgroup>
                    <tbody>
                    <tr class="displaynone">
                        <th scope="row">별명 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><input id="nick_name" name="nick_name" fw-filter="" fw-label="별명" fw-msg=""
                                   class="inputTypeText" placeholder="" maxlength="20" value=""
                                   type="text"/> (한글2~10자/영문 대소문자4~20자/숫자 혼용가능)
                        </td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">성별 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><input id="is_sex0" name="is_sex" fw-filter="" fw-label="성별" fw-msg=""
                                   0="disabled" value="M" type="radio"/><label for="is_sex0">남자</label>
                            <input id="is_sex1" name="is_sex" fw-filter="" fw-label="성별" fw-msg=""
                                   0="disabled" value="F" type="radio"/><label for="is_sex1">여자</label></td>
                    </tr>
                    <tr class="">
                        <th scope="row">생년월일 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><input id="birth_year" name="birth_year" fw-filter="" fw-label="생년월일" fw-msg=""
                                   class="inputTypeText" placeholder="" maxlength="4" value="" type="text"/>
                            년 <input id="birth_month" name="birth_month" fw-filter="" fw-label="생년월일"
                                     fw-msg="" class="inputTypeText" placeholder="" maxlength="2" value=""
                                     type="text"/> 월 <input id="birth_day" name="birth_day" fw-filter=""
                                                            fw-label="생년월일" fw-msg="" class="inputTypeText"
                                                            placeholder="" maxlength="2" value=""
                                                            type="text"/> 일 <span class="gIndent20 "><input
                                        id="is_solar_calendar0" name="is_solar_calendar" fw-filter=""
                                        fw-label="생년월일" fw-msg="" value="T" type="radio"
                                        checked="checked"/><label for="is_solar_calendar0">양력</label>
<input id="is_solar_calendar1" name="is_solar_calendar" fw-filter="" fw-label="생년월일" fw-msg="" value="F"
       type="radio"/><label for="is_solar_calendar1">음력</label></span>
                        </td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">결혼기념일 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><input id="marry_year" name="marry_year" fw-filter="" fw-label="결혼 기념일"
                                   fw-msg="" class="inputTypeText" placeholder="" maxlength="4" value=""
                                   type="text"/> 년 <input id="marry_month" name="marry_month" fw-filter=""
                                                          fw-label="결혼 기념일" fw-msg="" class="inputTypeText"
                                                          placeholder="" maxlength="2" value=""
                                                          type="text"/> 월 <input id="marry_day"
                                                                                 name="marry_day"
                                                                                 fw-filter=""
                                                                                 fw-label="결혼 기념일" fw-msg=""
                                                                                 class="inputTypeText"
                                                                                 placeholder=""
                                                                                 maxlength="2" value=""
                                                                                 type="text"/> 일
                        </td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">배우자생일 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><input id="partner_year" name="partner_year" fw-filter="" fw-label="배우자 생일"
                                   fw-msg="" class="inputTypeText" placeholder="" maxlength="4" value=""
                                   type="text"/> 년 <input id="partner_month" name="partner_month"
                                                          fw-filter="" fw-label="배우자 생일" fw-msg=""
                                                          class="inputTypeText" placeholder="" maxlength="2"
                                                          value="" type="text"/> 월 <input id="partner_day"
                                                                                          name="partner_day"
                                                                                          fw-filter=""
                                                                                          fw-label="배우자 생일"
                                                                                          fw-msg=""
                                                                                          class="inputTypeText"
                                                                                          placeholder=""
                                                                                          maxlength="2"
                                                                                          value=""
                                                                                          type="text"/> 일
                        </td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">자녀 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><select id="child" name="child" fw-filter="isFill" fw-label="child" fw-msg="">
                                <option value="child_00" selected="selected">선택</option>
                                <option value="child_01">없음</option>
                                <option value="child_02">1</option>
                                <option value="child_03">2</option>
                                <option value="child_04">3</option>
                                <option value="child_05">4</option>
                                <option value="child_06">5</option>
                                <option value="child_07">6</option>
                                <option value="child_08">7</option>
                                <option value="child_09">8</option>
                                <option value="child_10">9</option>
                                <option value="child_11">10 이상</option>
                            </select></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">최종학력 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><select id="school" name="school" fw-filter="isFill" fw-label="school"
                                    fw-msg="">
                                <option value="school_00" selected="selected">선택</option>
                                <option value="school_01">초등학교재학</option>
                                <option value="school_02">초등학교졸업</option>
                                <option value="school_03">중학교재학</option>
                                <option value="school_04">중학교졸업</option>
                                <option value="school_05">고등학교재학</option>
                                <option value="school_06">고등학교졸업</option>
                                <option value="school_07">대학교재학</option>
                                <option value="school_08">대학교졸업</option>
                                <option value="school_09">대학원재학</option>
                                <option value="school_10">대학원졸업이상</option>
                            </select></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">직종 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><select id="job_class" name="job_class" fw-filter="isFill" fw-label="직종"
                                    fw-msg="">
                                <option value="job_class_04" selected="selected">선택</option>
                                <option value="job_class_05">서비스</option>
                                <option value="job_class_06">교육</option>
                                <option value="job_class_07">부동산/운송</option>
                                <option value="job_class_08">농/임/수/광업</option>
                                <option value="job_class_09">금융</option>
                                <option value="job_class_10">유통</option>
                                <option value="job_class_11">예술</option>
                                <option value="job_class_12">의료</option>
                                <option value="job_class_13">법률</option>
                                <option value="job_class_14">제조/무역</option>
                                <option value="job_class_15">건설업</option>
                            </select></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">직업 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><select id="job" name="job" fw-filter="isFill" fw-label="직업" fw-msg="">
                                <option value="job_00" selected="selected">선택</option>
                                <option value="job_01">학생</option>
                                <option value="job_02">회사원</option>
                                <option value="job_03">자영업</option>
                                <option value="job_04">무직</option>
                                <option value="job_05">기타</option>
                            </select></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">연소득 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><select id="earning" name="earning" fw-filter="isFill" fw-label="earning"
                                    fw-msg="">
                                <option value="earning_00" selected="selected">선택</option>
                                <option value="earning_01">없음</option>
                                <option value="earning_02">1000만원 이하</option>
                                <option value="earning_03">1200만원 이하</option>
                                <option value="earning_04">1500만원 이하</option>
                                <option value="earning_05">1800만원 이하</option>
                                <option value="earning_06">2000만원 이하</option>
                                <option value="earning_07">2500만원 이하</option>
                                <option value="earning_08">3000만원 이하</option>
                                <option value="earning_09">4000만원 이하</option>
                                <option value="earning_10">5000만원 이하</option>
                                <option value="earning_11">5000만원 이상</option>
                                <option value="earning_12">기타</option>
                            </select></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">자동차 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><select id="car" name="car" fw-filter="isFill" fw-label="car" fw-msg="">
                                <option value="car_00" selected="selected">선택</option>
                                <option value="car_01">없음</option>
                                <option value="car_02">1000cc 이하</option>
                                <option value="car_03">1000cc ~ 1500cc</option>
                                <option value="car_04">1500cc ~ 2000cc</option>
                                <option value="car_05">2000cc ~ 3000cc</option>
                                <option value="car_06">3000cc ~ 4000cc</option>
                                <option value="car_07">4000cc 이상</option>
                            </select></td>
                    </tr>
                    <tr class="">
                        <th scope="row">지역 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><select id="region" name="region" fw-filter="isFill" fw-label="region"
                                    fw-msg="">
                                <option value="region_00">선택</option>
                                <option value="region_01">경기</option>
                                <option value="region_02">서울</option>
                                <option value="region_03">인천</option>
                                <option value="region_04">강원</option>
                                <option value="region_05">충남</option>
                                <option value="region_06">충북</option>
                                <option value="region_07">대전</option>
                                <option value="region_08">경북</option>
                                <option value="region_09">경남</option>
                                <option value="region_10">대구</option>
                                <option value="region_11">부산</option>
                                <option value="region_12">울산</option>
                                <option value="region_13">전북</option>
                                <option value="region_14" selected="selected">전남</option>
                                <option value="region_15">광주</option>
                                <option value="region_16">제주</option>
                                <option value="region_17">해외</option>
                            </select></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">인터넷 이용장소 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><select id="internet" name="internet" fw-filter="isFill" fw-label="internet"
                                    fw-msg="">
                                <option value="internet_00" selected="selected">선택</option>
                                <option value="internet_01">집</option>
                                <option value="internet_02">회사</option>
                                <option value="internet_03">PC방</option>
                                <option value="internet_04">기타</option>
                            </select></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">관심분야 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td>
                            <div class="interest"><input id="inter_check0" name="inter_check[]" fw-filter=""
                                                         fw-label="inter_check" fw-msg="" value="0"
                                                         type="checkbox"/><label
                                        for="inter_check0">애니메이션</label>
                                <input id="inter_check1" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="1" type="checkbox"/><label
                                        for="inter_check1">영화/연극</label>
                                <input id="inter_check2" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="2" type="checkbox"/><label
                                        for="inter_check2">놀이공원</label>
                                <input id="inter_check3" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="3" type="checkbox"/><label
                                        for="inter_check3">경품정보</label>
                                <input id="inter_check4" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="4" type="checkbox"/><label
                                        for="inter_check4">미술전시회</label>
                                <input id="inter_check5" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="5" type="checkbox"/><label
                                        for="inter_check5">클래식 콘서트</label>
                                <input id="inter_check6" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="6" type="checkbox"/><label
                                        for="inter_check6">패션/미용</label>
                                <input id="inter_check7" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="7" type="checkbox"/><label
                                        for="inter_check7">정치</label>
                                <input id="inter_check8" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="8" type="checkbox"/><label
                                        for="inter_check8">IT/정보통신</label>
                                <input id="inter_check9" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="9" type="checkbox"/><label
                                        for="inter_check9">스포츠</label>
                                <input id="inter_check10" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="10" type="checkbox"/><label
                                        for="inter_check10">요리/음식</label>
                                <input id="inter_check11" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="11" type="checkbox"/><label
                                        for="inter_check11">연예인</label>
                                <input id="inter_check12" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="12" type="checkbox"/><label
                                        for="inter_check12">여성/주부</label>
                                <input id="inter_check13" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="13" type="checkbox"/><label
                                        for="inter_check13">육아</label>
                                <input id="inter_check14" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="14" type="checkbox"/><label
                                        for="inter_check14">비즈니스/금융/부동산</label>
                                <input id="inter_check15" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="15" type="checkbox"/><label
                                        for="inter_check15">주식/증권</label>
                                <input id="inter_check16" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="16" type="checkbox"/><label
                                        for="inter_check16">스포츠/레져/취미</label>
                                <input id="inter_check17" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="17" type="checkbox"/><label
                                        for="inter_check17">경매/공동구매</label>
                                <input id="inter_check18" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="18" type="checkbox"/><label
                                        for="inter_check18">뉴스/정보</label>
                                <input id="inter_check19" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="19" type="checkbox"/><label
                                        for="inter_check19">컴퓨터/게임</label>
                                <input id="inter_check20" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="20" type="checkbox"/><label
                                        for="inter_check20">대학교/대학원정보</label>
                                <input id="inter_check21" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="21" type="checkbox"/><label
                                        for="inter_check21">건강/의료</label>
                                <input id="inter_check22" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="22" type="checkbox"/><label
                                        for="inter_check22">자동차/여행</label>
                                <input id="inter_check23" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="23" type="checkbox"/><label
                                        for="inter_check23">쇼핑/전자상거래</label>
                                <input id="inter_check24" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="24" type="checkbox"/><label
                                        for="inter_check24">구인/구직</label>
                                <input id="inter_check25" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="25" type="checkbox"/><label
                                        for="inter_check25">어학강좌</label>
                                <input id="inter_check26" name="inter_check[]" fw-filter=""
                                       fw-label="inter_check" fw-msg="" value="26" type="checkbox"/><label
                                        for="inter_check26">기타등등</label></div>
                        </td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><input id="add1" name="add1" fw-filter="" fw-label="추가항목1" fw-msg=""
                                   class="inputTypeText" placeholder="" maxlength="30" value=""
                                   type="text"/></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><input id="add2" name="add2" fw-filter="" fw-label="추가항목2" fw-msg=""
                                   class="inputTypeText" placeholder="" maxlength="30" value=""
                                   type="text"/></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><input id="add3" name="add3" fw-filter="" fw-label="추가항목3" fw-msg=""
                                   class="inputTypeText" placeholder="" maxlength="30" value=""
                                   type="text"/></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><input id="add4" name="add4" fw-filter="" fw-label="추가항목4" fw-msg=""
                                   class="inputTypeText" placeholder="" maxlength="30" value=""
                                   type="text"/></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row"><img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">추천인 아이디 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td><input id="reco_id" name="reco_id" fw-filter="" fw-label="추천인 ID" fw-msg=""
                                   class="inputTypeText" placeholder="" value="" type="text"/></td>
                    </tr>
                    <tr class="displaynone">
                        <th scope="row">환불계좌 <img
                                    src="//img.echosting.cafe24.com/skin/base/common/ico_required.gif"
                                    class="displaynone" alt="필수"/></th>
                        <td>
                            <span id=""></span> <a href="#none"><img
                                        src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_account_change.gif"
                                        alt="환불계좌변경" id="id_has_bank_img" class="displaynone"/><img
                                        src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_account.gif"
                                        alt="환불계좌등록" id="id_reg_bank_img" class="displaynone"/></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="displaynone">
                <h3>개인정보 제3자 제공 동의(선택)</h3>
                <div class="ec-base-box typeThinBg agreeArea">
                    <div class="content">
                        아래 내용의 동의 여부는 회원가입에 영향을 미치지 않습니다. 단, 동의 거부시 서비스 이용에 제한이 있을 수 있습니다.<br/>
                        <br/>
                        - 제공 받는 자 :<br/>
                        <br/>
                        - 제공 항목 :<br/>
                        <br/>
                        - 제공 목적 :<br/>
                        <br/>
                        - 보유 및 이용기간 :<br/>
                    </div>
                    <p class="check"><span>개인정보 제3자 제공에 동의하십니까?</span> <input id="agree_information_check0"
                                                                              name="agree_information_check[]"
                                                                              fw-filter=""
                                                                              fw-label="개인정보 제3자 제공 동의"
                                                                              fw-msg="" value="1"
                                                                              type="checkbox"/><label
                                for="agree_information_check0">동의함</label></p>
                </div>
            </div>
            <div class="displaynone">
                <h3>개인정보 처리 위탁 동의(선택)</h3>
                <div class="ec-base-box typeThinBg agreeArea">
                    <div class="content">
                        아래 내용의 동의 여부는 회원가입에 영향을 미치지 않습니다. 단, 동의 거부시 서비스 이용에 제한이 있을 수 있습니다.<br/>
                        <br/>
                        - 위탁받는 자(수탁업체) :<br/>
                        <br/>
                        - 위탁업무의 내용:<br/>
                    </div>
                    <p class="check"><span>개인정보 처리 위탁에 동의하십니까?</span> <input id="agree_consignment_check0"
                                                                             name="agree_consignment_check[]"
                                                                             fw-filter=""
                                                                             fw-label="개인정보 처리 위탁 동의"
                                                                             fw-msg="" value="1"
                                                                             type="checkbox"/><label
                                for="agree_consignment_check0">동의함</label></p>
                </div>
            </div>
            <div class="ec-base-button justify">
                <a href="#none" onclick="memberEditAction()"><img
                            src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_modify_member.gif"
                            alt="회원정보수정"/></a>
                <a href="/index.html"><img
                            src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_modify_cancel.gif"
                            alt="취소"/></a>
                <span class="gRight">
            <a href="#none" onclick="memberDelAction(0, -1, -1)"><img
                        src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_modify_out.gif" alt="회원탈퇴"/></a>
        </span>
            </div>
            <div class="layerLeave ec-base-layer" id="">

                <div class="header">
                    <h3>회원탈퇴</h3>
                </div>
                <div class="content">
                    <div class="ec-base-box typeMember">
                        <div class="information">
                            <strong class="title">혜택 내역</strong>
                            <div class="description">
                                <ul>
                                    <li id="">탈퇴시 보유하고 있는 적립금은 모두 삭제됩니다.</li>
                                    <li>현재 적립금 : <strong id="" class="txtEm">0</strong>
                                    </li>
                                    <li id="">현재 예치금 : <strong id="" class="txtEm">0</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>회원탈퇴 사유</h4>
                    <div class="ec-base-table typeWrite">
                        <table border="1" summary="">
                            <caption>회원탈퇴 사유</caption>
                            <colgroup>
                                <col style="width:140px;"/>
                                <col style="width:auto;"/>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">선택</th>
                                <td></td>
                            </tr>
                            <tr id="">
                                <th scope="row">기타</th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ec-base-button">
                    <a href="#none" id=""><img
                                src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_leave.gif" alt="탈퇴"/></a>
                    <a href="#none" onclick="$('#').hide();"><img
                                src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_leave_cancel.gif"
                                alt="취소"/></a>
                </div>
                <a href="#none" class="close" onclick="$('#').hide();"><img
                            src="//img.echosting.cafe24.com/skin/base/common/btn_close.gif" alt="닫기"/></a>
            </div>
        </div>
    </form>
</div>
