<% layout('/client/layouts/main') %>

<% stylesheet('/public/client/css/styleSuccessRegister.css') %>

<% block('title', 'Trang chủ') %>

<div id="contents">

    <div class="path">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li title="현재 위치"><strong>회원 가입 완료</strong></li>
        </ol>
    </div>

    <div class="titleArea">
        <h2>회원 가입 완료</h2>
    </div>

    <div class="xans-element- xans-member xans-member-joincomplete ">
        <div class="joinComplete">
            <h3><img src="//img.echosting.cafe24.com/skin/base_ko_KR/member/h3_join_complete.gif"
                     alt="회원가입"/></h3>
            <p class="desc">회원가입이 완료 되었습니다.</p>
            <div class="ec-base-box typeMember gMessage">
                <strong class="message">저희 쇼핑몰을 이용해 주셔서 감사합니다.</strong>
                <div class="information">
                    <p class="thumbnail"><img src="//louren.co.krF" alt="일반 회원"
                                              onerror="this.src='//img.echosting.cafe24.com/skin/base/member/img_member_default.gif';"/>
                    </p>
                    <div class="description">
                        <dl class="ec-base-desc typeBullet gSmall gBlank5">
                            <dt>아이디</dt>
                            <dd><span class="authssl_member_id">*****</span></dd>
                            <dt>이름</dt>
                            <dd><span class="authssl_c_name">*****</span></dd>
                            <dt>이메일</dt>
                            <dd><span class="authssl_c_email">*****</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="xans-element- xans-member xans-member-benefitjoin memberSpecial"><p><strong><span
                                class="authssl_member_name">*****</span> 님</strong>은 [일반 회원] 회원이십니다.</p>
                <p class="displaynone "><strong> 0원 이상</strong> 구매시 <strong>0원</strong>을 추가할인없음 받으실 수 있습니다.
                </p>
                <p class="displaynone "><strong> 0원 이상</strong> 구매시 <strong>0원</strong>을 받으실 수 있습니다. </p>
            </div>
            <p class="memberEmail displaynone">이메일 주소로 발송된 인증 메일을 통해 인증하신 후에 로그인이 가능합니다.</p>
            <p class="memberAge displaynone">
                <strong><span class="authssl_c_name">*****</span> 님</strong>은 14세 미만 회원이므로 <br/>관리자 인증 후 아이디
                사용이 가능합니다.
            </p>
            <p class="ec-base-button">
                <a href="/member/login.html"><img
                            src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_complete_login.gif"
                            alt="로그인"/></a>
                <a href="/index.html"><img
                            src="//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_complete_main.gif"
                            alt="메인으로 이동"/></a>
            </p>
        </div>
    </div>

    <div class="xans-element- xans-coupon xans-coupon-join">
        <div class="couponSkinArea">
            <ul class="grid3">
                <li class="xans-record-">
                    <div class="coupon "
                         style="background-image:url('//louren.co.kr/web/product/coupon/shop1_user_background.png')">
                        <strong class="title" style="color:#404041; font-family:Arial; font-size:11px;">회원가입
                            쿠폰</strong>
                        <p class="discount" style="color:#ffce00; font-family:Dotum;"><span
                                    style="font-family:Verdana;">5000원 할인</span></p>
                        <p class="period" style="color:#6d6c6b; font-family:Dotum;">발급일로부터 60일 이내</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
