<div class="main-sidebar-widgets">
    <div id="text-3" class="widget main-sidebar-widget widget_text">
        <h3>About Me</h3>
        <div class="textwidget">
            <div class="about-widget"> <img src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/11/about-sb.jpg" alt="">
                <h4>Photographer  & Blogger</h4>
                <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue.</p>
                <div class="signature"><img src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/signature2.png" alt=""></div>
            </div>
        </div>
    </div>
    <div id="springbook-recent-posts-3" class="widget main-sidebar-widget springbook_recent_posts">
        <h3>Recent Posts</h3>
        <div class="recent-post-widget">
            <ul>
                <li>
                    <div class="recent-post-img">
                        <a href="http://demowp.cththemes.net/springbook/phasellus-egestas-interdum-pulvinar-aenean-tincidunt/" class="widget-posts-img"><img width="50" height="50" src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-50x50.jpg" class="respimg wp-post-image" alt="2" srcset="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-50x50.jpg 50w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/2-150x150.jpg 150w" sizes="(max-width: 50px) 100vw, 50px" /></a>
                    </div>
                    <div class="recent-post-content">
                        <h4><a href="http://demowp.cththemes.net/springbook/phasellus-egestas-interdum-pulvinar-aenean-tincidunt/" title="Phasellus egestas interdum pulvinar. <br> Aenean tincidunt.">Phasellus egestas interdum pulvinar. <br> Aenean tincidunt.</a></h4>
                        <div class="recent-post-opt"> <span class="post-date">21 Jul 2016</span> <a href="http://demowp.cththemes.net/springbook/phasellus-egestas-interdum-pulvinar-aenean-tincidunt/#comments" class="post-comments">3 Comments</a></div>
                    </div>
                </li>
                <li>
                    <div class="recent-post-img">
                        <a href="http://demowp.cththemes.net/springbook/travel-in-oslo-norway/" class="widget-posts-img"><img width="50" height="50" src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/14-50x50.jpg" class="respimg wp-post-image" alt="14" srcset="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/14-50x50.jpg 50w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/14-150x150.jpg 150w" sizes="(max-width: 50px) 100vw, 50px" /></a>
                    </div>
                    <div class="recent-post-content">
                        <h4><a href="http://demowp.cththemes.net/springbook/travel-in-oslo-norway/" title="Travel in Oslo Norway">Travel in Oslo Norway</a></h4>
                        <div class="recent-post-opt"> <span class="post-date">19 Jul 2016</span> <a href="http://demowp.cththemes.net/springbook/travel-in-oslo-norway/#comments" class="post-comments">3 Comments</a></div>
                    </div>
                </li>
                <li>
                    <div class="recent-post-img">
                        <a href="http://demowp.cththemes.net/springbook/snowy-mountains-journey/" class="widget-posts-img"><img width="50" height="50" src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/1-50x50.jpg" class="respimg wp-post-image" alt="1" srcset="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/1-50x50.jpg 50w, http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/1-150x150.jpg 150w" sizes="(max-width: 50px) 100vw, 50px" /></a>
                    </div>
                    <div class="recent-post-content">
                        <h4><a href="http://demowp.cththemes.net/springbook/snowy-mountains-journey/" title="Snowy Mountains Journey">Snowy Mountains Journey</a></h4>
                        <div class="recent-post-opt"> <span class="post-date">17 Jul 2016</span> <a href="http://demowp.cththemes.net/springbook/snowy-mountains-journey/#comments" class="post-comments">3 Comments</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="tag_cloud-2" class="widget main-sidebar-widget widget_tag_cloud">
        <h3>Resent tags</h3>
        <div class="tagcloud">
            <ul class='wp-tag-cloud'>
                <li><a href='http://demowp.cththemes.net/springbook/tag/adventure/' class='tag-link-4 tag-link-position-1' title='4 topics' style='font-size: 10px;'>Adventure</a></li>
                <li><a href='http://demowp.cththemes.net/springbook/tag/camping/' class='tag-link-16 tag-link-position-2' title='4 topics' style='font-size: 10px;'>Camping</a></li>
                <li><a href='http://demowp.cththemes.net/springbook/tag/happy/' class='tag-link-5 tag-link-position-3' title='4 topics' style='font-size: 10px;'>Happy</a></li>
                <li><a href='http://demowp.cththemes.net/springbook/tag/lifestyle/' class='tag-link-6 tag-link-position-4' title='4 topics' style='font-size: 10px;'>Lifestyle</a></li>
                <li><a href='http://demowp.cththemes.net/springbook/tag/outdoor/' class='tag-link-17 tag-link-position-5' title='4 topics' style='font-size: 10px;'>Outdoor</a></li>
                <li><a href='http://demowp.cththemes.net/springbook/tag/photo/' class='tag-link-15 tag-link-position-6' title='4 topics' style='font-size: 10px;'>Photo</a></li>
                <li><a href='http://demowp.cththemes.net/springbook/tag/travel/' class='tag-link-7 tag-link-position-7' title='4 topics' style='font-size: 10px;'>Travel</a></li>
            </ul>
        </div>
    </div>
    <div id="springbook-instagram-feed-2" class="widget main-sidebar-widget springbook_instagram_feed">
        <h3>My Instagram</h3>
        <div class="cththemes-instafeed grid-cols-3" data-limit="6" data-get="user" data-getval="3075034521" data-client="5d9aa6ad29704bcb9e7e151c9b7afcbc" data-access="3075034521.5d9aa6a.284ff8339f694dbfac8f265bf3e93c8a" data-res="thumbnail">
            <div class='cth-insta-thumb'>
                <ul class="cththemes-instafeed-ul" id="cththemes-instafeed5a9bac7297584"></ul>
            </div>
        </div>
    </div>
    <div id="text-5" class="widget main-sidebar-widget widget_text">
        <h3>Banner widget</h3>
        <div class="textwidget">
            <div class="banner-widget"> <img src="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/banner.jpg" alt=""></div>
        </div>
    </div>
    <div id="categories-2" class="widget main-sidebar-widget widget_categories">
        <h3>Categories</h3>
        <ul>
            <li class="cat-item cat-item-13"><a href="http://demowp.cththemes.net/springbook/category/films/">Films</a> (4)</li>
            <li class="cat-item cat-item-11"><a href="http://demowp.cththemes.net/springbook/category/outdoor/">Outdoor</a> (4)</li>
            <li class="cat-item cat-item-14"><a href="http://demowp.cththemes.net/springbook/category/photos/">Photos</a> (4)</li>
            <li class="cat-item cat-item-2"><a href="http://demowp.cththemes.net/springbook/category/travel/">Travel</a> (5)</li>
            <li class="cat-item cat-item-3"><a href="http://demowp.cththemes.net/springbook/category/trip/">Trip</a> (5)</li>
        </ul>
    </div>
    <div id="text-6" class="widget main-sidebar-widget widget_text">
        <h3>Social widget</h3>
        <div class="textwidget">
            <div class=" social-widget">
                <ul>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="archives-2" class="widget main-sidebar-widget widget_archive">
        <h3>Archives</h3>
        <ul>
            <li><a href='http://demowp.cththemes.net/springbook/2016/07/'>July 2016</a>&nbsp;(11)</li>
        </ul>
    </div>
</div>
