<div class="fluid_row footer_address_row">
    <div class="fixed_row">
       <div class="widget_footer_sns">
          <ul>
             <li class=""><a href="//facebook.com" target="_blank" class="transition_type1"><i class="fa fa-facebook-f"></i></a></li>
             <li><a href="//instagram.com/louren_official" target="_blank" class="transition_type1"><i class="fa fa-instagram"></i></a></li>
             
             <li><a href="https://gmail.com" target="_blank" class="transition_type1"><i class="fa fa-google"></i></a></li>
             <li><a href="https://twitter.com" target="_blank" class="transition_type1"><i class="fa fa-twitter"></i></a></li>
          </ul>
       </div>
       <ul class="utilMenu">
          <li><a href="/shopinfo/company.html">GIỚI THIỆU</a></li>
          <li><a href="/member/agreement.html">THỎA THUẬN</a></li>
          <li><a href="/member/privacy.html"><strong>CHÍNH SÁCH</strong></a></li>
          <li><a href="/shopinfo/guide.html">HƯỚNG DẪN MUA SẮM</a></li>
       </ul>
       <div class="xans-element- xans-layout xans-layout-footer">
          <p class="address">
            <span>Tên công ty :  </span>
            <span>Tên đại diện : </span>
            <span>Giấy phép kinh doanh : </span>
            <span>Báo cáo 2018</span>
            <br> 
            <span>
                  <a href="#none" onclick="window.open('http://www.ftc.go.kr/bizCommPop.do?wrkr_no=3326000255', 'bizCommPop', 'width=750, height=950;');return false;">Điện thoại: 0964515150</a>
            </span>
            <span>Fax : 0964515150</span> <span>Địa chỉ : 01 Nguyễn Văn Linh</span><br/><span
                class="">Email : <a href="mailto:louren_co@naver.com">louren_co@naver.com</a></span> <span
                class="">Cán bộ bảo mật : <a
                href="mailto:louren_co@naver.com">louren_co@naver.com)</a></span><br/>
          </p>
          <p class="copyright hide">Copyright © <strong>로렌 louren</strong>. All rights reserved. <a
             href="http://designmoon.net" target="_blank">DESIGN MOON</a></p>
       </div>
    </div>
    <!-- /.fixed_row -->
</div>
