<div class="fluid_row footer_address_row">
    <div class="fixed_row">
        <div class="widget_footer_sns">
            <ul>
                <li class="hide"><a href="//facebook.com" target="_blank" class="transition_type1"><img
                                src="/public/client/images/icons/footer_sns_icon_facebook.png"
                                onmouseout="this.src='/public/client/images/icons/footer_sns_icon_facebook.png'"
                                onmouseover="this.src='/public/client/images/icons/footer_sns_icon_facebook_on.png'"/></a></li>
                <li><a href="//instagram.com/louren_official" target="_blank" class="transition_type1"><img
                                src="/public/client/images/icons/footer_sns_icon_instagram.png"
                                onmouseout="this.src='/public/client/images/icons/footer_sns_icon_instagram.png'"
                                onmouseover="this.src='/public/client/images/icons/footer_sns_icon_instagram_on.png'"/></a></li>
                <li class="hide"><a href="//blog.naver.com" target="_blank" class="transition_type1"><img
                                src="/public/client/images/icons/footer_sns_icon_blog.png"
                                onmouseout="this.src='/public/client/images/icons/footer_sns_icon_blog.png'"
                                onmouseover="this.src='/public/client/images/icons/footer_sns_icon_blog_on.png'"/></a></li>
                <li class="hide"><a href="//story.kakao.com" target="_blank" class="transition_type1"><img
                                src="/public/client/images/icons/footer_sns_icon_kakaostory.png"
                                onmouseout="this.src='/public/client/images/icons/footer_sns_icon_kakaostory.png'"
                                onmouseover="this.src='/public/client/images/icons/footer_sns_icon_kakaostory_on.png'"/></a></li>
                <li><a href="https://pf.kakao.com/_TqvhC" target="_blank" class="transition_type1"><img
                                src="/public/client/images/icons/footer_sns_icon_kakao.png"
                                onmouseout="this.src='/public/client/images/icons/footer_sns_icon_kakao.png'"
                                onmouseover="this.src='/public/client/images/icons/footer_sns_icon_kakao_on.png'"/></a></li>
                <li><a href="https://talk.naver.com/ct/wc67fx" target="_blank" class="transition_type1"><img
                                src="/public/client/images/icons/footer_sns_icon_talktalk.png"
                                onmouseout="this.src='/public/client/images/icons/footer_sns_icon_talktalk.png'"
                                onmouseover="this.src='/public/client/images/icons/footer_sns_icon_talktalk_on.png'"/></a></li>
            </ul>
        </div>

        <ul class="utilMenu">
            <li><a href="/shopinfo/company.html">BRAND STORY</a></li>
            <li><a href="/member/agreement.html">AGREEMENT</a></li>
            <li><a href="/member/privacy.html"><strong>PRIVACY POLICY</strong></a></li>
            <li><a href="/shopinfo/guide.html">SHOPPING GUIDE</a></li>
        </ul>
        <div class="xans-element- xans-layout xans-layout-footer"><p class="address">
                <span>법인명(상호) : 로렌 louren </span> <span>대표자(성명) : 이용현</span>
                <span>사업자 등록번호 안내 : [332-60-00255]</span>
                <span>통신판매업 신고 2018-대전서구-0039</span><span><a href="#none"
                                                             onclick="window.open('http://www.ftc.go.kr/bizCommPop.do?wrkr_no=3326000255', 'bizCommPop', 'width=750, height=950;');return false;">[사업자정보확인]</a></span>
                <br/><span>전화 : 070-5099-8825</span> <span>팩스 : 070-7500-8080</span> <span>주소 : 35074 대전광역시 중구 대둔산로200번길 23-12 (안영동) 로렌</span><br/><span
                        class="">이메일 : <a href="mailto:louren_co@naver.com">louren_co@naver.com</a></span> <span
                        class="">개인정보보호책임자 : <a
                            href="mailto:louren_co@naver.com">진현정(louren_co@naver.com)</a></span><br/></p>
            <p class="copyright hide">Copyright © <strong>로렌 louren</strong>. All rights reserved. <a
                        href="http://designmoon.net" target="_blank">DESIGN MOON</a></p>
        </div>
    </div><!-- /.fixed_row -->
</div>
