<div class="header_area">
    <h1 class="xans-element- xans-layout xans-layout-logotop "><a href="/index.html"><img
                    src="/public/client/images/icons/category/logo/2ddbf5cd7762b49575776e690a58df39_3_top.jpg"
                    alt="로렌 louren"/></a>
    </h1>
    <div class="widget_gnb_right">
        <ul>
            <li class="sub_menu_layer icon_member">
                <!-- <a href="/member/login.html" module="Layout_statelogoff"><span class="hide">MEMBER</span></a>
                <a href="{$action_logout}" module="Layout_stateLogon"><span class="hide">MEMBER</span></a>-->
                <a href="#"><span class="hide">MEMBER</span></a>
                <div class="sub_menu">
                    <ul class="xans-element- xans-layout xans-layout-statelogoff ">
                        <li><a href="/member/login.html" class="log">LOGIN</a></li>
                        <li><a href="/member/join.html">JOIN US</a></li>
                        <li><a href="/myshop/order/list.html">ORDER</a></li>
                        <li><a href="/member/modify.html">MYPAGE</a></li>
                        <!-- <li><a href="/dmoon/html/user/product_timesale.html">TIME SALE</a></li> -->
                        <li></li>
                        <li></li>
                    </ul>
                </div><!--/.xans-layout-boardinfo -->
            </li>
            <li class="xans-element- xans-layout xans-layout-orderbasketcount sub_menu_layer icon_cart "><a
                        href="/order/basket.html" class="btnBasket" ajax_data data-url="basket.html"
                        data-name="basket" data-width="400px" data-animate="top" data-animate-value=""><span
                            class="count displaynone EC-Layout-Basket-count"><em
                                class="EC-Layout-Basket-count">0</em></span></a>
            </li>
        </ul>
    </div><!-- /.widget_gnb_right -->


    <div class="widget_lnb_menu">
        <ul class="header_lnb_menu">
            <li class="lnb1"><a href="/shopinfo/company.html">BRAND STORY</a></li>
            <li class="lnb2">
                <a href="/product/list.html?cate_no=24">ONLINE SHOP <i class="fa fa-angle-down"
                                                                       aria-hidden="true"></i></a>
                <div class="xans-element- xans-layout xans-layout-category lnb_sub_menu">
                    <ul ajax_category category_fade_hover1 category_fade_hover2 category_fade_hover3
                        category_fade_hover4 data-category_info_target="#category_info">
                        <li class="depth1 xans-record-"><a href="/category/chair/24/" data-cate_no="24">chair</a>
                        </li>
                        <li class="depth1 xans-record-"><a href="/category/furniture/25/" data-cate_no="25">furniture</a>
                        </li>
                        <li class="depth1 xans-record-"><a href="/category/living/26/" data-cate_no="26">living</a>
                        </li>
                        <li class="depth1 xans-record-"><a href="/category/lighting/27/"
                                                           data-cate_no="27">lighting</a></li>
                        <li class="depth1 xans-record-"><a href="/category/fabric/47/" data-cate_no="47">fabric</a>
                        </li>
                        <li class="depth1 xans-record-"><a href="/category/kids/56/" data-cate_no="56">kids</a></li>
                        <li class="depth1 xans-record-"><a href="/category/etc/28/" data-cate_no="28">etc.</a></li>
                        <li class="depth1 xans-record-"><a href="/category/sale/60/" data-cate_no="60">sale</a></li>
                    </ul>
                </div>
                <!--/.lnb_sub_menu -->
            </li>
            <li class="lnb3">
                <a href="/product/lookbook_list.html?cate_no=42">CATALOG <i class="fa fa-angle-down"
                                                                            aria-hidden="true"></i> </a>
                <div class="lnb_sub_menu">
                    <ul>
                        <li><a href="/product/lookbook_list.html?cate_no=43">rattan</a></li>
                    </ul>
                </div><!--/.lnb_sub_menu -->
            </li>
            <li class="lnb4">
                <a href="/board/free/list.html?board_no=1">COMMUNITY <i class="fa fa-angle-down"
                                                                        aria-hidden="true"></i></a>
                <div class="xans-element- xans-layout xans-layout-boardinfo lnb_sub_menu"><!-- 참고: 이미지메뉴를 사용하고 싶은 경우
						<ul>
							<li><a href=""></a> </li>
							<li><a href=""></a> </li>
						</ul>
						// 참고 -->
                    <ul>
                        <li class="xans-record-"><a href="/board/notice/1/">NOTICE</a></li>
                        <li class="xans-record-"><a href="/board/event/2/">EVENT</a></li>
                        <li class="xans-record-"><a href="/board/review/4/">REVIEW</a></li>
                        <li class="xans-record-"><a href="/board/qa/6/">Q&A</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
