<div class="snb_left" data-left="0px">
    <div class="snb_toggle_bt">
        <div class="fixed_toggle">
            <div class="toggle_menu">
                <a href="javascript:;" class="toggle_menu_icon">
                    <span class="bar bar1"></span>
                    <span class="bar bar2"></span>
                    <span class="bar bar3"></span>
                </a>
            </div>
        </div><!-- /.fixed_toggle -->
    </div>
    <div class="snb_overflow_bg"></div>
    <div class="snb_left_area">
        <div class="xans-element- xans-bannermanage2 xans-bannermanage2-display-3 xans-bannermanage2-display xans-bannermanage2-3 left_slide_banner">
            <ul class="slides">
                <li class="xans-record-"><a href="" alt="1"><img class='banner_image' title='1' alt='1' rel='9-3'
                                                                 src='//app-storage-003.cafe24.com/bannermanage2/lourenkr/2018/03/21/69a437c1f016fec4c64a54f4321c98a2.png'/></a>
                </li>
                <li class="xans-record-"><a href="" alt="2"><img class='banner_image' title='2' alt='2' rel='10-3'
                                                                 src='//app-storage-003.cafe24.com/bannermanage2/lourenkr/2018/03/21/69610e3b8b8ce151c80b4b12cd49a3a0.png'/></a>
                </li>
                <li class="xans-record-"><a href="" alt="3"><img class='banner_image' title='3' alt='3' rel='11-3'
                                                                 src='//app-storage-003.cafe24.com/bannermanage2/lourenkr/2018/03/21/923271ecfa43d205a1795dad5b7d48e5.png'/></a>
                </li>
            </ul>
        </div>
        <!-- /.quick_slide_banner -->
        <div class="side_menu_link">
            <ul>
                <li><a href="/order/basket.html"><i class="fa fa-shopping-cart"
                                                    aria-hidden="true"></i><span>장바구니</span></a></li>
                <li><a href="/myshop/order/list.html"><i class="fa fa-folder-open-o" aria-hidden="true"></i><span>주문조회</span></a>
                </li>
                <li><a href="/myshop/index.html"><i class="fa fa-user" aria-hidden="true"></i><span>마이쇼핑</span></a>
                </li>
                <li><a href="/dmoon/html/user/product_timesale.html"><i class="fa fa-clock-o"
                                                                        aria-hidden="true"></i><span>타임세일</span></a>
                </li>
                <li><a href="/board/free/list.html?board_no=2"><i class="fa fa-gift" aria-hidden="true"></i><span>이벤트</span></a>
                </li>
                <li><a href="/shopinfo/company.html"><i class="fa fa-microphone"
                                                        aria-hidden="true"></i><span>스토리</span></a></li>
                <li><a href="/board/free/list.html?board_no=1"><i class="fa fa-volume-up"
                                                                  aria-hidden="true"></i><span>공지</span></a></li>
                <li><a href="/board/product/list.html?board_no=4"><i class="fa fa-camera-retro"
                                                                     aria-hidden="true"></i><span>후기</span></a></li>
                <li><a href="/board/product/list.html?board_no=6"><i class="fa fa-comment-o" aria-hidden="true"></i><span>문의</span></a>
                </li>
            </ul>
        </div><!-- /.side_menu_link -->

        <div class="widget_snb_left_cs">
            <div class="xans-element- xans-layout xans-layout-info widget_gnb_cs_center "><span class="title">C/S CENTER</span>
                <ul class="cs_center">
                    <!-- 운영시간 텍스트는 관리자화면 > 상점관리 > 기본정보관리 > 내쇼핑몰정보 페이지에서 "대표전화" 항목에 입력하세요. -->
                    <li class="tel"><span>070-5099-8825</span></li>

                    <!-- 운영시간 텍스트는 관리자화면 > 상점관리 > 기본정보관리 > 내쇼핑몰정보 페이지에서 "CS운영시간" 항목에 입력하세요. -->
                    <li><span>OPEN AM 10:00 - PM 05:00<br/>
LUNCH PM 12:00 - PM 01:00<br/>
SAT/SUN CLOSE</span></li>
                </ul>
            </div>
            <div class="widget_gnb_bank_account">
                <span class="title">BANK ACCOUNT</span>
                <ul class="bank_account">
                    <li>
                        <span>기업은행</span> 143-135350-01-013<br/></li>
                    <li><span>예금주</span> 이용현(로렌)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="snb_right" data-right="0px">

    <div class="snb_right_toggle_bt">
        <div class="fixed_toggle">
            <div class="toggle_menu">
                <a href="javascript:;" class="toggle_menu_icon">
                    <span class="bar bar1"></span>
                    <span class="bar bar2"></span>
                    <span class="bar bar3"></span>
                    <span class="bar bar4"></span>
                </a>
            </div>
        </div><!-- /.fixed_toggle -->
    </div>

    <div class="snb_overflow_bg"></div>


    <div class="snb_right_area">

        <div class="xans-element- xans-bannermanage2 xans-bannermanage2-display-3 xans-bannermanage2-display xans-bannermanage2-3 quick_slide_banner hide">
            <ul class="slides">
                <li class="xans-record-"><a href="" alt="1"><img class='banner_image' title='1' alt='1' rel='9-3'
                                                                 src='//app-storage-003.cafe24.com/bannermanage2/lourenkr/2018/03/21/69a437c1f016fec4c64a54f4321c98a2.png'/></a>
                </li>
                <li class="xans-record-"><a href="" alt="2"><img class='banner_image' title='2' alt='2' rel='10-3'
                                                                 src='//app-storage-003.cafe24.com/bannermanage2/lourenkr/2018/03/21/69610e3b8b8ce151c80b4b12cd49a3a0.png'/></a>
                </li>
                <li class="xans-record-"><a href="" alt="3"><img class='banner_image' title='3' alt='3' rel='11-3'
                                                                 src='//app-storage-003.cafe24.com/bannermanage2/lourenkr/2018/03/21/923271ecfa43d205a1795dad5b7d48e5.png'/></a>
                </li>
            </ul>
        </div>
        <!-- /.quick_slide_banner -->


        <form id="searchBarForm" name="" action="/product/search.html" method="get" enctype="multipart/form-data">
            <input id="banner_action" name="banner_action" value="" type="hidden"/>
            <div class="xans-element- xans-layout xans-layout-searchheader ">
                <!---@css(/css/module/layout/searchHeader.css)-->
                <!--
                                    $product_page=/product/detail.html
                                    $category_page=/product/list.html
                                -->
                <fieldset>
                    <legend>검색</legend>
                    <!-- 제외검색어 추가 시작 -->
                    <input type="hidden" name="search_type" value="product_name"/>
                    <input type="hidden" name="exceptkeyword" value="[content]"/>
                    <!-- 제외검색어 추가 끝 -->
                    <input id="keyword" name="keyword" fw-filter="" fw-label="검색어" fw-msg="" class="inputTypeText"
                           placeholder="" onmousedown="SEARCH_BANNER.clickSearchForm(this)" value="" type="text"/><a
                            href="#none" onclick="SEARCH_BANNER.submitSearchBanner(this); return false;"><i
                                class="fa fa-search" aria-hidden="true"></i></a>
                </fieldset>
                <div class="xans-element- xans-search xans-search-hotkeyword snb_hotkeyword"><h4>
                        <span>HOT KEYWORD</span></h4>
                    <ul>
                        <li class="xans-record-"><a href="/product/search.html?keyword=rattan">rattan</a></li>
                        <li class="xans-record-"><a href="/product/search.html?keyword=로렌라탄">로렌라탄</a></li>
                        <li class="xans-record-"><a href="/product/search.html?keyword=라탄">라탄</a></li>
                        <li class="xans-record-"><a href="/product/search.html?keyword=천연라탄">천연라탄</a></li>
                        <li class="xans-record-"><a href="/product/search.html?keyword=라탄체어">라탄체어</a></li>
                        <li class="xans-record-"><a href="/product/search.html?keyword=라탄의자">라탄의자</a></li>
                        <li class="xans-record-"><a href="/product/search.html?keyword=라탄가구">라탄가구</a></li>
                        <li class="xans-record-"><a href="/product/search.html?keyword=라탄소품">라탄소품</a></li>
                        <li class="xans-record-"><a href="/product/search.html?keyword=로렌">로렌</a></li>
                        <li class="xans-record-"><a href="/product/search.html?keyword=louren">louren</a></li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="xans-element- xans-layout xans-layout-productrecent widget_recent_product_wrap">
            <!---@css(/css/module/layout/productRecent.css)-->
            <h4><a href="/product/recent_view_product.html">TODAY VIEW</a></h4>
            <ul>
                <li class="displaynone xans-record-">
                    <a href="/product/detail.html##param##"><img src="about:blank" alt=""/><span>##name##</span></a>
                </li>
                <li class="displaynone xans-record-">
                    <a href="/product/detail.html##param##"><img src="about:blank" alt=""/><span>##name##</span></a>
                </li>
            </ul>
            <p class="player">
                <span class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                <span class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </p>
        </div>


    </div>

</div>
