<div class="snb_right" data-right="0px">
    <div class="snb_right_toggle_bt">
        <div class="fixed_toggle">
            <div class="toggle_menu">
                <a href="javascript:;" class="toggle_menu_icon">
                    <span class="bar bar1"></span>
                    <span class="bar bar2"></span>
                    <span class="bar bar3"></span>
                    <span class="bar bar4"></span>
                </a>
            </div>
        </div><!-- /.fixed_toggle -->
    </div>

    <div class="snb_overflow_bg"></div>


    <div class="snb_right_area">

        <div class="xans-element- xans-bannermanage2 xans-bannermanage2-display-3 xans-bannermanage2-display xans-bannermanage2-3 quick_slide_banner hide">
            <ul class="slides">
                <li class="xans-record-"><a href="" alt="1"><img class='banner_image' title='1' alt='1' rel='9-3'
                                                                 src='#'/></a>
                </li>
                <li class="xans-record-"><a href="" alt="2"><img class='banner_image' title='2' alt='2' rel='10-3'
                                                                 src='#'/></a>
                </li>
                <li class="xans-record-"><a href="" alt="3"><img class='banner_image' title='3' alt='3' rel='11-3'
                                                                 src='#'/></a>
                </li>
            </ul>
        </div>
        <!-- /.quick_slide_banner -->


        <form id="searchBarForm" name="" action="/product/search.html" method="get" enctype="multipart/form-data">
            <input id="banner_action" name="banner_action" value="" type="hidden"/>
            <div class="xans-element- xans-layout xans-layout-searchheader ">
                <fieldset>
                    <legend>Tìm kiếm</legend>
                    <input type="hidden" name="search_type" value="product_name"/>
                    <input type="hidden" name="exceptkeyword" value="[content]"/>
                    <input id="keyword" name="keyword" fw-filter="" fw-label="검색어" fw-msg="" class="inputTypeText"
                           placeholder="" onmousedown="SEARCH_BANNER.clickSearchForm(this)" value="" type="text"/><a
                            href="#none" onclick="SEARCH_BANNER.submitSearchBanner(this); return false;"><i
                                class="fa fa-search" aria-hidden="true"></i></a>
                </fieldset>
                <div class="xans-element- xans-search xans-search-hotkeyword snb_hotkeyword"><h4>
                        <span>HOT KEYWORD</span></h4>
                    <ul>
                        <li class="xans-record-"><a href=""></a></li>

                        <li class="xans-record-"><a href=""></a></li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="xans-element- xans-layout xans-layout-productrecent widget_recent_product_wrap">
            <h4><a href="/product/recent_view_product.html">TODAY VIEW</a></h4>
            <ul>
                <li class="displaynone xans-record-">
                    <a href="#"><img src="about:blank" alt=""/><span>abc</span></a>
                </li>
                <li class="displaynone xans-record-">
                    <a href="#"><img src="about:blank" alt=""/><span>abc</span></a>
                </li>
            </ul>
            <p class="player">
                <span class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                <span class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </p>
        </div>


    </div>

</div>
