<div class="sidebar-widget hidden-xs hidden-sm">
    <div class="main-title-2">
        <h1><span>Advanced</span> Search</h1>
    </div>

    <form method="GET">
        <div class="form-group">
            <select class="selectpicker search-fields" name="property-status" data-live-search="true" data-live-search-placeholder="Search value">
                <option>Property Status</option>
                <option>For Sale</option>
                <option>For Rent</option>
            </select>
        </div>
        <div class="form-group">
            <select class="selectpicker search-fields" name="location" data-live-search="true" data-live-search-placeholder="Search value">
                <option>Location</option>
                <option>United States</option>
                <option>United Kingdom</option>
                <option>American Samoa</option>
                <option>Belgium</option>
                <option>Cameroon</option>
                <option>Canada</option>
            </select>
        </div>

        <div class="form-group">
            <select class="selectpicker search-fields" name="property-types" data-live-search="true" data-live-search-placeholder="Search value" >
                <option>Property Types</option>
                <option>Residential</option>
                <option>Commercial</option>
                <option>Land</option>
            </select>
        </div>

        <div class="form-group">
            <select class="selectpicker search-fields" name="area-from" data-live-search="true" data-live-search-placeholder="Search value" >
                <option>Area From</option>
                <option>1000</option>
                <option>800</option>
                <option>600</option>
                <option>400</option>
                <option>200</option>
                <option>100</option>
            </select>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <select class="selectpicker search-fields" name="bedrooms">
                        <option>Bedrooms</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <select class="selectpicker search-fields" name="bathroom">
                        <option>Bathroom</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <select class="selectpicker search-fields" name="balcony">
                        <option>Balcony</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <select class="selectpicker search-fields" data-live-search="true" name="garage">
                        <option>Garage</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="range-slider">
            <label>Area</label>
            <div data-min="0" data-max="10000" data-unit="Sq ft" data-min-name="min_area" data-max-name="max_area" class="range-slider-ui ui-slider" aria-disabled="false"></div>
            <div class="clearfix"></div>
        </div>

        <div class="range-slider">
            <label>Price</label>
            <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
            <div class="clearfix"></div>
        </div>

        <div class="form-group mb-0">
            <button class="search-button">Search</button>
        </div>
    </form>
</div>
