<!-- User account box start -->
<div class="user-account-box">
    <div class="header clearfix">
        <div class="edit-profile-photo">
            <img src="<%= cUser.avatar %>" class="img-responsive">
            <div class="change-photo-btn">
                <div class="photoUpload">
                    <span><i class="fa fa-upload"></i> Upload Photo</span>
                    <input type="file" class="upload">
                </div>
            </div>
        </div>
        <h3><%= cUser.name %></h3>
        <p><%= cUser.email || '' %></p>
        <!--<ul class="social-list clearfix">
            <li>
                <a href="#" class="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" class="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" class="linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="#" class="google">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li>
                <a href="#" class="rss">
                    <i class="fa fa-rss"></i>
                </a>
            </li>
        </ul>-->
    </div>
    <div class="content">
        <ul>
            <li>
                <a href="/nguoi-dung/thong-tin" class="active">
                    <i class="flaticon-social"></i>Profile
                </a>
            </li>
            <li>
                <a href="/nguoi-dung/bai-viet-bat-dong-san">
                    <i class="flaticon-apartment"></i>Bất động sản của tôi
                </a>
            </li>
            <li>
                <a href="/nguoi-dung/bai-viet-bat-dong-san/tao-moi">
                    <i class="fa fa-plus"></i>Thêm bất động sản
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="flaticon-sign-out-option"></i>Thoát
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- User account box end -->
