.select2-search__field {
    border: none !important;
}

.property-form__container__number {
    justify-content: space-between;
}

.property-form__input__number {
    max-width: 70px;
}

a[disabled] {
    color: gray;
    pointer-events: none;
}

.page-link.active {
    border-color: #007bff;
    background-color: #007bff;
    color: #fff;
}

.modal {
    z-index: 1150;
}

.card-title--float {
    line-height: 38px;
}

button.badge {
    border: none;
}

.form__error-message {
    margin: 4px 0 0;
    color: red;
    font-weight: bold;
}

.form-control-feedback {
    margin-right: 5px;
}

.register-box {
    padding: 3% 0;
}

.user__form__gender span, .user__form__gender label {
    margin: 0 8px 0 0;
}

.list__table__date {
    width: 12%;
}

.search-form__input {
    height: 32px;
    border-radius: 0;
}

.search-form__btn {
    padding: 3px 12px;
    border-radius: 0 15px 15px 0;
}

.clearbox {
    clear: both;
}

.nav-tabs--border-none {
    border: none;
}

.nav-tabs li {
    padding: 0 12px 4px 0;
}

.property-article__form__amenities + .select2 .select2-selection__rendered {
    height: 138px;
}

.dropzone .dz-message {
    margin: 2.5em 0 2em;
}

.images__upload-btn {
    padding: 10px 17px;
    margin-top: 10px;
    background-color: #26afbd;
    border-color: #26afbd;
    border-radius: 50%;
    font-size: 28px;
}

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    margin-top: -40px;
}

.images__table th, .images__table td {
    vertical-align: middle;
}

.images__table__image-detail {
    max-width: 100px;
}

.card-title {
    line-height: 32px;
}

.images__table__title {
    line-height: 38px;
}

.images__table__pick-btn {
    margin-left: 10px;
}

.dz-error-message {
    text-align: center;
}

.dropzone .dz-preview .dz-error-message {
    top: 145px;
}

.map__icon-btn {
    max-width: 30px;
    padding: 0 4px;
}

.map__icon-btn img {
    width: 100%;
}

#map-content {
    height: calc(100vh - 56px);
}
.map {
    position: relative;
}
.map__control-panel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    font-size: 13px;
}

.map__control-panel .nav-tabs li {
    padding: 0;
}

.map__control-panel .nav-tabs .active {
    color: #495057;
}

.map__control-panel .nav-tabs a {
    border-radius: 0;
    background-color: #fff;
    border-right-color: #dee2e6;
    color: #495057;
}

.map__control-panel__markers, .map__control-panel__polygons {
    max-height: 76px;
    padding: 0 0 0 2px;
    border: 1px solid #dee2e6;
    background-color: #fff;
    overflow: auto;
}

.map__control-panel__marker, .map__control-panel__polygon {
    overflow: hidden;
    clear: both;
}

.marker__content, .polygon__content {
    float: left;
}

.marker__delete-btn, .polygon__options {
    float: right;
}

.marker__delete-btn, .polygon__delete-btn {
    padding: 0 3px;
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.polygon__edit-color-btn {
    padding: 0 3px;
    border: none;
    background-color: transparent;
    color: #d2b14e;
    cursor: pointer;
}

.marker__delete-btn:focus, .polygon__delete-btn:focus, .polygon__edit-color-btn:focus {
    outline: none;
}

.gm-style-mtc div[role="button"] {
    font-size: 14px !important;
}
