.select2-search__field {
    border: none !important;
}

.property-form__container__number {
    justify-content: space-between;
}

.property-form__input__number {
    max-width: 70px;
}

a[disabled] {
    color: gray;
    pointer-events: none;
}

.page-link.active {
    border-color: #007bff;
    background-color: #007bff;
    color: #fff;
}

.modal {
    z-index: 1150;
}

.card-title--float {
    line-height: 38px;
}

button.badge {
    border: none;
}

.form__error-message {
    margin: 4px 0 0;
    color: red;
    font-weight: bold;
}

.form-control-feedback {
    margin-right: 5px;
}

.register-box {
    padding: 3% 0;
}

.user__form__gender span, .user__form__gender label {
    margin: 0 8px 0 0;
}

.list__table__date {
    width: 12%;
}

.search-form__input {
    height: 32px;
    border-radius: 0;
}

.search-form__btn {
    padding: 3px 12px;
    border-radius: 0 15px 15px 0;
}

.clearbox {
    clear: both;
}

.nav-tabs--border-none {
    border: none;
}

.nav-tabs li {
    padding: 0 12px 4px 0;
}

.property-article__form__amenities + .select2 .select2-selection__rendered {
    height: 138px;
}

.dropzone .dz-message {
    margin: 2.5em 0 2em;
}

.images__upload-btn {
    padding: 10px 17px;
    margin-top: 10px;
    background-color: #26afbd;
    border-color: #26afbd;
    border-radius: 50%;
    font-size: 28px;
}

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    margin-top: -40px;
}

.images__table th, .images__table td {
    vertical-align: middle;
}

.images__table__image-detail {
    max-width: 100px;
}

.card-title {
    line-height: 32px;
}

.images__table__title {
    line-height: 38px;
}

.images__table__pick-btn {
    margin-left: 10px;
}

.dz-error-message {
    text-align: center;
}

.dropzone .dz-preview .dz-error-message {
    top: 145px;
}
