<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="../../../index3.html" class="brand-link">
        <img src="/public/admin/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/public/admin/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            Dashboard
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../../../index.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Dashboard v1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../../../index2.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Dashboard v2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../../../index3.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Dashboard v3</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="../widgets.html" class="nav-link">
                        <i class="nav-icon fa fa-th"></i>
                        <p>
                            Widgets
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-globe"></i>
                        <p>
                            Khu vực
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/location/cities" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Tỉnh / Thành phố</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/location/districts" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Quận / Huyện</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-pie-chart"></i>
                        <p>
                            Bất động sản
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/property/categories" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Loại hình</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/property/types" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Hình thức kinh doanh</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/property/statuses" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Trạng thái</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/property/amenities" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Nội thất</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/property/conditions" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Cơ sở vật chất</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/property/articles" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Quản lý bài viết</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/property/articles/me" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Bài viết của tôi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/property/articles/create" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Tạo bài viết mới</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-newspaper-o"></i>
                        <p>
                            Blog
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/blog/categories" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Quản lý thể loại</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/blog/tags" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Quản lý thẻ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/blog/articles" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Quản lý bài viết</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/blog/articles/me" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Bài viết của tôi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/blog/articles/create" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Tạo bài viết mới</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
