<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="../../../index3.html" class="brand-link">
        <img src="/public/admin/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="<%= cUser.avatar %>" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block"><%= cUser.name %></a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a href="/admin" class="nav-link">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <% if (hasRole(cUser, ['Admin', 'Manager', 'Blogger'])) { %>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-newspaper-o"></i>
                            <p>Blog<i class="fa fa-angle-left right"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <% if (hasRole(cUser, ['Admin', 'Manager'])) { %>
                                <li class="nav-item">
                                    <a href="/admin/blog/categories" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Quản lý thể loại</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/blog/tags" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Quản lý thẻ</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/blog/articles" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Quản lý bài viết</p>
                                    </a>
                                </li>
                            <% } %>
                            <li class="nav-item">
                                <a href="/admin/blog/articles/me" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Bài viết của tôi</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/blog/articles/create" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Tạo bài viết mới</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                <% } %>
                <% if (hasRole(cUser, ['Admin', 'Manager'])) { %>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-shopping-cart"></i>
                            <p>Sản phẩm<i class="fa fa-angle-left right"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <% if (hasRole(cUser, ['Admin', 'Manager'])) { %>
                                <li class="nav-item">
                                    <a href="/admin/product/types" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Quản lý thể loại</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/products" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Quản lý sản phẩm</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/products/me" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Sản phẩm của tôi</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/products/create" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Tạo sản phẩm mới</p>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
                <% if (!hasRole(cUser, 'User')) { %>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-picture-o"></i>
                            <p>Ảnh<i class="fa fa-angle-left right"></i></p>
                        </a>
                        <ul class="nav nav-treeview">
                            <% if (hasRole(cUser, ['Admin', 'Manager'])) { %>
                                <li class="nav-item">
                                    <a href="/admin/images/storage" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Quản lý kho ảnh</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/images" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Quản lý ảnh</p>
                                    </a>
                                </li>
                            <% } %>
                            <li class="nav-item">
                                <a href="/admin/images/me" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Ảnh của tôi</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/images/upload" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Thêm ảnh</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                <% } %>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-users"></i>
                        <p>
                            Người dùng
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <% if (hasRole(cUser, ['Admin', 'Manager'])) { %>
                            <li class="nav-item">
                                <a href="/admin/users" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Quản lý người dùng</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/register" class="nav-link">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Đăng ký</p>
                                </a>
                            </li>
                        <% } %>
                        <li class="nav-item">
                            <a href="/admin/users/<%= cUser.slug %>" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Tài khoản của tôi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/password/change" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Đổi mật khẩu</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/admin/logout" class="nav-link">
                        <i class="fa fa-sign-out nav-icon"></i>
                        <p>Thoát</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
