<% layout('../../../../layouts/client/app') %>

<% stylesheet('/public/client/css/styleForgotPassword.css') %>

<% block('title', 'Trang chủ') %>

<div id="contents">

    <div class="path">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li title="현재 위치"><strong>비밀번호 찾기</strong></li>
        </ol>
    </div>

    <div class="titleArea">
        <h2>Quên mật khẩu</h2>
    </div>

    <form action="" method="post">
        <div class="xans-element- xans-member xans-member-findpasswd">
            <div class="findPw">
                <fieldset>
                    <ul class="ec-base-desc typeBullet gMedium">
                        <li>
                            <strong class="term">Khôi phục bằng</strong>
                            <span class="desc">
                                <span class="gBlank5">
                                    <input id="method1" name="method" value="1"
                                           type="radio" checked <%/*= old('method') === '1' ? 'checked' : '' */%>/>
                                    <label for="method1">Email</label>
                                   <!-- <input id="method2" name="method" value="2"
                                           type="radio" />
                                    <label for="method2">Số điện thoại</label>-->
                                    <p><%= errors('method') %></p>
                                </span>
                            </span>
                        </li>
                        <li>
                            <strong class="term">Email</strong>
                            <span class="desc">
                                <input name="email" class="lostInput" value="<%= old('email') %>" type="text"/>
                                <p><%= errors('email') %></p>
                            </span>
                        </li>
                        <!--<li>
                            <strong class="term">Số điện thoại</strong>
                            <span class="desc">
                                <input name="telephone" class="lostInput" value="" type="text"/>
                                <p></p>
                            </span>
                        </li>-->
                    </ul>
                    <p class="ec-base-button gBlank20">
                        <button class="custom_btn custom_btn_login custom_btn_submit">Gửi</button>
                    </p>
                </fieldset>
            </div>
        </div>
    </form>
</div>
