<% layout('../../../../layouts/client/app') %>

<% block('metaTags', `
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="${originalUrl}" id="fbUrl" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="${titleRedis(info)} | Khôi phục mật khẩu" />
    <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta property="og:image" content="https://mayhienhome.com/public/client/images/logo/fullLogo.png" />
`) %>

<% stylesheet('/public/client/css/styleForgotPassword.css') %>

<% block('title', 'Trang chủ') %>

<div id="contents">
    <div class="titleArea">
        <h2>Quên mật khẩu</h2>
    </div>

    <form action="" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="xans-element- xans-member xans-member-findpasswd">
            <div class="findPw">
                <fieldset>
                    <ul class="ec-base-desc typeBullet gMedium">
                        <li>
                            <strong class="term">Mật khẩu mới</strong>
                            <span class="desc">
                                <input name="newPassword" class="lostInput" value="<%= old('newPassword') %>" type="password"/>
                                <p><%= errors('newPassword') %></p>
                            </span>
                        </li>
                        <li>
                            <strong class="term">Xác nhận mật khẩu</strong>
                            <span class="desc">
                                <input name="passwordConfirmation" class="lostInput" value="<%= old('passwordConfirmation') %>" type="password"/>
                                <p><%= errors('passwordConfirmation') %></p>
                            </span>
                        </li>
                    </ul>
                    <p class="ec-base-button gBlank20">
                        <button class="custom_btn custom_btn_login custom_btn_submit">Gửi</button>
                    </p>
                </fieldset>
            </div>
        </div>
    </form>
</div>
