<% layout('../../../../layouts/client/app') %>

<% block('metaTags', `
    <meta name="description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta name="keywords" content="Đồ nội thất mây, đồ nội thất mây, ghế mây, đồ nội thất thủ công"/>

    <meta property="og:url" content="${originalUrl}" id="fbUrl" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="${titleRedis(info)} | Đăng ký thành công" />
    <meta property="og:description" content="Nội Thất Mây Hiên home. We create a product, not just it but all." />
    <meta property="og:image" content="https://mayhienhome.com/public/client/images/logo/fullLogo.png" />
`) %>

<% stylesheet('/public/client/css/styleSuccessRegister.css') %>

<% block('title', 'Đăng ký thành công') %>

<div id="contents">
    <div class="titleArea">
        <h2>Hoàn tất đăng ký</h2>
    </div>

    <div class="xans-element- xans-member xans-member-joincomplete ">
        <div class="joinComplete">
            <p class="desc">Đăng ký thành công</p>
            <div class="ec-base-box typeMember gMessage">
                <strong class="message">Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi</strong>
                <div class="information">
                    <p class="thumbnail"><img src="F" alt="Thành viên chung"
                                              onerror="this.src='//img.echosting.cafe24.com/skin/base/member/img_member_default.gif';"/>
                    </p>
                    <div class="description">
                        <dl class="ec-base-desc typeBullet gSmall gBlank5">
                            <dt>Tên</dt>
                            <dd><span class="authssl_c_name"><%= user.name %></span></dd>
                            <dt>Email</dt>
                            <dd><span class="authssl_c_email"><%= user.email %></span></dd>
                            <dt>Số điện thoại</dt>
                            <dd><span class="authssl_c_email"><%= user.telephone %></span></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <p class="ec-base-button">
                <a href="/dang-nhap" class="custom_btn custom_btn_login custom_btn_submit">Đăng nhập</a>
                <a href="/" class="custom_btn custom_btn_login custom_btn_submit">Về trang chủ</a>
            </p>
        </div>
    </div>
</div>
