<% layout('/client/layouts/home.ejs') %>

<% include client/properties/partials/sub-banner.ejs %>

<!-- Agent section start -->
<div class="agent-section content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12">
                <!-- option bar start -->
                <div class="option-bar">
                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-2">
                            <h4>
                                <span class="heading-icon">
                                    <i class="fa fa-th-large"></i>
                                </span>
                                <span class="hidden-xs">Agent Grid</span>
                            </h4>
                        </div>
                        <div class="col-lg-6 col-md-7 col-sm-7 col-xs-10 cod-pad">
                            <div class="sorting-options">
                                <select class="sorting">
                                    <option>New To Old</option>
                                    <option>Old To New</option>
                                    <option>Properties (High To Low)</option>
                                    <option>Properties (Low To High)</option>
                                </select>
                                <a href="agent-listing-row-sidebar.html" class="change-view-btn"><i class="fa fa-th-list"></i></a>
                                <a href="agent-listing-grid-sidebar.html" class="change-view-btn active-view-btn"><i class="fa fa-th-large"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- option bar end -->
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-1.jpg" alt="team-1" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">John Antony</a></h5>
                                <h6>Web Developer</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-2.jpg" alt="team-2" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">Karen Paran</a></h5>
                                <h6>Creative Director</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-3.jpg" alt="team-3" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">John Maikel</a></h5>
                                <h6>Office Manager</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-3.jpg" alt="team-3" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">John Maikel</a></h5>
                                <h6>Office Manager</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-4.jpg" alt="team-4" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">Eliane Pereira</a></h5>
                                <h6>Support Manager</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-1.jpg" alt="team-1" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">John Antony</a></h5>
                                <h6>Web Developer</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-4.jpg" alt="team-4" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">Eliane Pereira</a></h5>
                                <h6>Support Manager</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-1.jpg" alt="team-1" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">John Antony</a></h5>
                                <h6>Web Developer</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-2.jpg" alt="team-2" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">Karen Paran</a></h5>
                                <h6>Creative Director</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-2.jpg" alt="team-2" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">Karen Paran</a></h5>
                                <h6>Creative Director</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-3.jpg" alt="team-3" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">John Maikel</a></h5>
                                <h6>Office Manager</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-4.jpg" alt="team-4" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">Eliane Pereira</a></h5>
                                <h6>Support Manager</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <!-- Popular posts start -->
                <div class="sidebar-widget popular-posts">
                    <div class="main-title-2">
                        <h1><span>Recent</span> Properties</h1>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="/public/client/img/properties/small-properties-1.jpg" alt="small-properties-1">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a href="properties-details.html">Modern Family Home</a>
                            </h3>
                            <p>February 27, 2018</p>
                            <div class="price">
                                $734,000
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="/public/client/img/properties/small-properties-2.jpg" alt="small-properties-2">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a href="properties-details.html">Modern Family Home</a>
                            </h3>
                            <p>February 27, 2018</p>
                            <div class="price">
                                $734,000
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="/public/client/img/properties/small-properties-3.jpg" alt="small-properties-3">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a href="properties-details.html">Beautiful Single Home</a>
                            </h3>
                            <p>February 27, 2018</p>
                            <div class="price">
                                $734,000
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Category posts start -->
                <div class="sidebar-widget category-posts">
                    <div class="main-title-2">
                        <h1><span>popular</span> Category</h1>
                    </div>
                    <ul class="list-unstyled list-cat">
                        <li><a href="#">Single Family </a> <span>(45)  </span></li>
                        <li><a href="#">Apartment  </a> <span>(21)  </span></li>
                        <li><a href="#">Condo </a> <span>(23)  </span></li>
                        <li><a href="#">Multi Family </a> <span>(19)  </span></li>
                        <li><a href="#">Villa </a> <span>(19)  </span></li>
                        <li><a href="#">Other  </a> <span>(22)  </span></li>
                    </ul>
                </div>
                <!-- Social media start -->
                <div class="social-media sidebar-widget clearfix">
                    <!-- Main Title 2 -->
                    <div class="main-title-2">
                        <h1><span>Social</span> Media</h1>
                    </div>
                    <!-- Social list -->
                    <ul class="social-list">
                        <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
                <!-- Tags box -->
                <div class="sidebar-widget tags-box mb-0">
                    <div class="main-title-2">
                        <h1><span>popular</span> Tags</h1>
                    </div>
                    <ul class="tags">
                        <li><a href="#">Image</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Typography</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Slideshow</a></li>
                        <li><a href="#">Post Formats</a></li>
                        <li><a href="#">Sellers</a></li>
                        <li><a href="#">WooCommerce</a></li>
                        <li><a href="#">Shortcodes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Agent section end -->
