<% layout('/layouts/client/app') %>

<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Properties Detail</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Properties Detail</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Agent section start -->
<div class="agent-section content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12">
                <!-- option bar start -->
                <div class="option-bar">
                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-2">
                            <h4>
                                <span class="heading-icon">
                                    <i class="fa fa-th-large"></i>
                                </span>
                                <span class="hidden-xs">Agent Grid</span>
                            </h4>
                        </div>
                        <div class="col-lg-6 col-md-7 col-sm-7 col-xs-10 cod-pad">
                            <div class="sorting-options">
                                <select class="sorting">
                                    <option>New To Old</option>
                                    <option>Old To New</option>
                                    <option>Properties (High To Low)</option>
                                    <option>Properties (Low To High)</option>
                                </select>
                                <a href="agent-listing-row-sidebar.html" class="change-view-btn"><i class="fa fa-th-list"></i></a>
                                <a href="agent-listing-grid-sidebar.html" class="change-view-btn active-view-btn"><i class="fa fa-th-large"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- option bar end -->
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-1.jpg" alt="team-1" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">John Antony</a></h5>
                                <h6>Web Developer</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-2.jpg" alt="team-2" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">Karen Paran</a></h5>
                                <h6>Creative Director</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-3.jpg" alt="team-3" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">John Maikel</a></h5>
                                <h6>Office Manager</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-3.jpg" alt="team-3" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">John Maikel</a></h5>
                                <h6>Office Manager</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-4.jpg" alt="team-4" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">Eliane Pereira</a></h5>
                                <h6>Support Manager</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-1.jpg" alt="team-1" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">John Antony</a></h5>
                                <h6>Web Developer</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-4.jpg" alt="team-4" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">Eliane Pereira</a></h5>
                                <h6>Support Manager</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-1.jpg" alt="team-1" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">John Antony</a></h5>
                                <h6>Web Developer</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-2.jpg" alt="team-2" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">Karen Paran</a></h5>
                                <h6>Creative Director</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-2.jpg" alt="team-2" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">Karen Paran</a></h5>
                                <h6>Creative Director</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-3.jpg" alt="team-3" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">John Maikel</a></h5>
                                <h6>Office Manager</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <!-- Agent 1 start -->
                        <div class="agent-1">
                            <!-- Agent img -->
                            <a href="properties-details.html" class="agent-img">
                                <img src="/public/client/img/team/team-4.jpg" alt="team-4" class="img-responsive">
                            </a>
                            <!-- Agent content -->
                            <div class="agent-content">
                                <h5><a href="agent-single.html">Eliane Pereira</a></h5>
                                <h6>Support Manager</h6>
                                <ul class="social-list clearfix">
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="google">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="rss">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Agent 1 end -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="sidebar">
                    <%- include ../../../layouts/client/partials/sidebar.ejs %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Agent section end -->
