<% layout('../../layouts/client/error') %>

<% block('title', 'Không có quyền truy cập') %>

<div class="inner">
    <h1>403</h1>
    <p class="txtDesc center">Không có quyền truy cập</p>
    <div class="mButton">
        <a href="/" class="btnSubmit" target="_blank"><span>Về trang chủ</span></a>
    </div>
</div>

