<% layout('../../layouts/client/error') %>

<% block('title', 'Không có quyền truy cập') %>

<div class="inner">
    <h1>403</h1>
    <p class="txtDesc center"><%= __('error.403.message') %></p>
    <div class="mButton">
        <a href="/" class="btnSubmit"><span><%= __('user.back-to-home') %></span></a>
    </div>
</div>

