<% layout('../../layouts/client/error') %>

<% block('title', 'Không tìm thấy trang') %>

<div class="inner">
    <h1>404</h1>
    <p class="txtDesc center"><%= __('error.404.message') %></p>
    <div class="mButton">
        <a href="/" class="btnSubmit"><span><%= __('user.back-to-home') %></span></a>
    </div>
</div>
