<% layout('../../layouts/client/error') %>

<% block('title', 'Không tìm thấy trang') %>

<div class="inner">
    <h1>404</h1>
    <p class="txtDesc center">Không tìm thấy trang</p>
    <div class="mButton">
        <a href="/" class="btnSubmit"><span>Về trang chủ</span></a>
    </div>
</div>
