<% layout('../../layouts/client/error') %>

<% block('title', 'Lỗi hệ thống') %>

<div class="inner">
    <h1>500</h1>
    <p class="txtDesc center">Lỗi hệ thống</p>
    <div class="mButton">
        <a href="/" class="btnSubmit"><span>Về trang chủ</span></a>
    </div>
</div>

