<% layout('../../layouts/client/error') %>

<% block('title', 'Lỗi hệ thống') %>

<div class="inner">
    <h1>500</h1>
    <p class="txtDesc center"><%= __('error.500.message') %></p>
    <div class="mButton">
        <a href="/" class="btnSubmit"><span><%= __('user.back-to-home') %></span></a>
    </div>
</div>

