<% layout('../../layouts/admin/error') %>

<% block('title', 'Không tìm thấy trang') %>

<section class="content">
    <div class="error-page text-center">
        <h2 class="headline text-warning">404</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-warning"></i> Trang không tồn tại.</h3>
            <p>Về trang <a href="/admin">admin</a>.</p>
        </div>
    </div>
</section>
