<% layout('../../../layouts/admin/app') %>

<% stylesheet('//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/flat/green.css') %>

<% script('https://code.jquery.com/ui/1.12.1/jquery-ui.js') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.4/sweetalert2.min.js') %>
<% script('https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js') %>

<% block('title', 'Ảnh sản phẩm') %>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ảnh</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Ảnh sản sảm</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title images__table__title pull-left">Vị trí ảnh</h3>
                <div class="pull-right">
                    <div class="form-inline">
                        <!--<select class="form-control images__table__pick-type">-->
                            <!--<option value="1">Thêm</option>-->
                            <!--<option value="2">Thay thế</option>-->
                        <!--</select>-->
                        <button class="btn btn-success change-order__btn">Thay đổi</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered images__table"
                       data-change-order-url="/admin/products/<%= product._id %>/images">
                    <thead>
                        <tr>
                            <th style="width: 34px;"><i class="fa fa-arrows-v"></i></th>
                            <th>Ảnh</th>
                            <th>Đường dẫn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% product.image.array.forEach((image) => { %>
                            <tr data-key="<%= image %>">
                                <td class="text-center"><i class="fa fa-ellipsis-v"></i></td>
                                <td><img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="<%= image %>"
                                         class="lazyload images__table__image-detail"></td>
                                <td><a href="<%= image %>" target="_blank">Link</a></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<% block('scripts', `
<script>
    $(document).ready(function () {
        $('input[type="checkbox"], input[type="radio"]').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
        $('tbody').sortable({
            placeholder: "ui-state-highlight"
        });
        $('tbody').disableSelection();
    });
</script>
`) %>
