<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="stylesheet" href="../../../public/client/css/style.css">
    <link rel="stylesheet" href="../../../public/client/css/common.css">
    <link rel="stylesheet" href="../../../public/client/css/custom.css">
    <link rel="stylesheet" href="../../../public/client/css/styleOrderHistory.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://demowp.cththemes.net/springbook/wp-content/cache/minify/16520.css" media="all" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="http://demowp.cththemes.net/springbook/wp-content/themes/springbook/images/favicon.ico" type="image/x-icon" />
    <title>Travel in Oslo Norway &#8211; SpringBook</title>
    <style id='springbookcustom-css-inline-css' type='text/css'>
        #wrapper{padding-top:0}#top-bar nav.top-bar-menu,.sticky-nav nav.top-bar-menu{top:4px}.footer-widget .commnet-link a,.footer-widget .recentcomments a{color:#808f66;font-weight:400}.sb-nav-button{width:34px;height:34px;top:3px}.post-counters,.post-counters li{width:auto!important}.sb-nav-button span{margin-bottom:4px}.full-width-instagram li{padding:0}.single-article-inner{padding-left:0}.art-fact{background:#f9f9f9;border:1px solid #eee}.post-counters{list-style:none;max-width:200px}.grid-sb-holder .grid-sb-wrap .respimg{width:100%}@media (max-width:1024px){.new-article .fp-desc{padding:10px 15px}}.grid-sb-holder{margin-left:-15px;margin-right:-15px}.grid-sb-holder .grid-sb-wrap{padding:0 15px}@media only screen and (max-width:767px){#wrapper>.vc_row,.grid-sb-holder{margin-left:0;margin-right:0}.category-nav-inner ul li{text-align:center}.grid-sb-holder .grid-sb-wrap{width:100%!important;padding:0 15px}.grid-sb-holder .grid-sb-wrap .respimg{width:100%}}@media (max-width:576px){.post-counters{width:100%;max-width:100%}}
    </style>
</head>

<body class="">
<div id="header">
    <%- include partials/header.ejs %>
</div>
<div id="main">
    <div id="wrapper" class="main-content-wrap">
        <div class="hero-wrap">
            <div class="hero-bg">
                <div class="bg" data-bg="http://demowp.cththemes.net/springbook/wp-content/uploads/2016/07/16.jpg"></div>
                <div class="overlay"></div>
            </div>
            <div class="hero-inner">
                <div class="container" style="text-align: center;">
                    <a href="/blog/" class="title-blog" >Tin tức</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container">
            <div class="article-holder">
                <div class="article-wrap col-wrap display-single-post hassidebar">
                    <%- body %>
                </div>
                <div class="main-sidebar right-sidebar">
                    <%- include partials/blogSidebar.ejs %>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <%- include partials/footer.ejs %>
</div><!-- /#footer -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script>
    $('.lazyload').lazy({
        effect: 'fadeIn',
        effectTime: 1000,
        threshold: 0,
    });
</script>
</body>
</html>
