<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>The Nest - <%= block('title') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- External CSS libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/client/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/public/client/css/bootstrap-submenu.css">
    <link rel="stylesheet" type="text/css" href="/public/client/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/public/client/css/leaflet.css" type="text/css">
    <link rel="stylesheet" href="/public/client/css/map.css" type="text/css">
    <%- stylesheets %>
    <link rel="stylesheet" type="text/css" href="/public/client/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/client/css/custom.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="/public/client/css/skins/default.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="/public/client/img/favicon.ico" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="/public/client/css/ie10-viewport-bug-workaround.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script type="text/javascript" src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/public/client/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5shiv.min.js"></script>
    <script type="text/javascript" src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="page_loader"></div>

<%- body %>

<script src="/public/client/js/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/public/client/js/jquery.easing.1.3.js"></script>
<script src="/public/client/js/jquery.scrollUp.js"></script>
<script src="/public/client/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/public/client/js/jquery.magnific-popup.min.js"></script>
<script src="/public/client/js/app.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/public/client/js/ie10-viewport-bug-workaround.js"></script>
<!-- Custom javascript -->
<script src="/public/client/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
