<% layout('/layouts/client/app') %>

<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css') %>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css') %>

<% script('https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js') %>
<% script('/public/admin/js/map/google-maps/index.js') %>
<% script('https://maps.googleapis.com/maps/api/js?key=AIzaSyA8wo20T1FmZQ1gOxeppA2IXCwQTiC4V6U&libraries=drawing&callback=initMap') %>

<% block('title', `Bất động sản - ${propertyArticle.title} - Bản đồ`)%>

<div class="sub-banner overview-bgi">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Bản đồ</h1>
                <ul class="breadcrumbs">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Nguời dùng</li>
                    <li class="active"><a href="/nguoi-dung/bai-viet-cua-toi">Bài viết của tôi</a></li>
                    <li class="active">
                        <a href="/nguoi-dung/bai-viet-bat-dong-san/<%= propertyArticle.slug %>">Bài viết</a>
                    </li>
                    <li class="active">Bản đồ</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content-area-7 my-properties">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <%- include ../../../layouts/client/partials/userSidebar.ejs %>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="map" data-key="<%= propertyArticle.hashid %>" data-token="<%= cUser.token %>">
                    <div class="map__control-panel">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item active">
                                <a class="nav-link" id="home-tab"
                                   data-toggle="tab" href="#markers" role="tab" aria-selected="true">Địa chỉ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#polygons" role="tab" aria-selected="false">Khu vực</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade map__control-panel__markers in active" id="markers" role="tabpanel"></div>
                            <div class="tab-pane fade map__control-panel__polygons" id="polygons" role="tabpanel"></div>
                            <div class="text-center">
                                <button class="btn btn-default map__control-panel__save-btn"><i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                    <div id="map-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
